<div style='position: relative;'>
  <Container class='job-desc-wrapper'>
    {{#each @jobData as |item|}}
      <JobDesc::ListContainer @data={{item}} />
    {{/each}}
    <hr />
    <JobDesc::DetailsForm
      @formData={{@formData}}
      @formHandler={{@formHandler}}
      @formSubmitHandler={{@formSubmitHandler}}
    />
  </Container>
  <img class='ellipse-img' src='/assets/images/red-ellipse-2.svg' alt='red-ellipse' />
</div>