<Container class='job-desc-poster'>
  <h3>Careers at Primathon</h3>
  <h2>{{@jobData.title}}</h2>
  <p>{{@jobData.department}} | {{@jobData.location}} || {{@jobData.experience}} + years of experience</p>
</Container>