.blogHeroImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section-csblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 34px;
  padding-top: 80px;
  padding-bottom: 74px;
  width: 40%;
  margin: 69px auto 0;
}
.hero-section-csblog > p {
  width: 78%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.companyDescription {
  margin-top: 26px;
  text-align: center;
  /*   padding: 8px 48px 0; */
  max-width: 1536px;
  margin: 0 auto;
}

@media (max-width:1024px){
  .hero-section-csblog{
    width: 94%;
    row-gap: 26px;
  }
  .hero-section-csblog > p {
    width: 76%;
    font-size: 14px;
    line-height: 21px;
  }
}
