.blogHeroImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section-csblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  padding-top: 80px;
  padding-bottom: 74px;
}

.companyDescription {
  margin-top: 26px;
  text-align: center;
  padding: 8px 48px 0;
  max-width: 1536px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .companyDescription {
    padding: 8px 120px 0;
  }
}
