<div class='technology-page-options h-[60px]' ...attributes>
  <ul>
    {{! template-lint-disable no-invalid-interactive }}
    <li>
      <LinkTo class='service-page-link' @route='solutions.search-gpt'>
        Search GPT
      </LinkTo>
    </li>
  </ul>
</div>