<section class='process-section'>
      <p class='process-heading'>
          The Process
      </p>
      <p class='about-process'>
        The Process: We started off the project by scheduling a series of workshops with the client to better understand the value they are contributing to the hospitality industry, as well as the unique offerings for the customers. As a result of this, we not only simplified our own planning process but also had a clearer picture of the MVP and ultimate product. This enabled us to create the best hotel management software. With a clear roadmap, we began work on Bloom’s deliverables. We leveraged a variety of tools and technology, such as Angular, Node, SQL, Redis and AWS S3 to develop the deliverables. As a team, we implemented an Agile workflow and ensured that the client could be a part of every stage of development. With this, we were able to implement feedback, redirect efforts, and brainstorm on the go without losing any time.
      </p>
</section>