<div class='app-container'>
  <CaseStudyBlog::HeroSectionCompany />
  <CaseStudyBlog::ChallengesServicesSection />
  <CaseStudyBlog::ProcessSection />
  <CaseStudyBlog::ResultSection />
  <Homepage::HireUs />
  <Homepage::Footer />
</div>