<div class='app-container'>
  <CaseStudyBlog::HeroSectionCompany @heroData={{@data.heroSection}} />
  <CaseStudyBlog::ChallengesServicesSection @challenges={{@data.challenges_Services_Section}} />
  <CaseStudyBlog::ProcessSection @process={{@data.processSection}} />
  <CaseStudyBlog::ResultSection @result={{@data.resultSection}} />
  <Homepage::HireUs />
  <Services::BrowseThroughServices @activeService={{0}} />
  <Footer />
</div>