.talent-map {
  background-color: #1a284d;
  padding: 100px 0;
  position: relative;
}

.talent-map .center {
  text-align: center !important;
}

.talent-map h2,
.talent-map p {
  color: #fff;
}

.talent-map h2 {
  font-size: 30px;
  line-height: 42px;
}

.talent-map .section-sub {
  font-family: Inter, sans-serif;
  color: #1a284d;
  font-size: 18px;
  line-height: 35px;
  margin: auto;
  font-weight: 400;
  text-align: center;
}

.talent-map .holder {
  margin-top: 30px;
}

.talent-map .talent-map-wrap {
  background-image: url('/assets/images/talent_map.svg');
  /* height: 600px; */
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  opacity: 0;
  transition: visibility 0.7s linear, opacity 0.7s linear;
  visibility: hidden;
}

.talent-map .talent-map-wrap > img {
  visibility: hidden;
}

.talent-map .red-arc {
  position: absolute;
  background-image: url('/assets/images/orange_arc.svg');
  width: 185px;
  height: 685px;
  right: 0;
  top: 55%;
  display: none;
}

.talent-map .talent-map-wrap .talent-map-developer {
  position: absolute;
  margin: auto;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1.5s linear, opacity 1.5s linear;
}

.talent-map .talent-map-wrap .talent-map-developer img {
  cursor: pointer;
  object-fit: contain;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  transition-delay: 0.5s;
  display: none;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
}

.talent-map .talent-map-wrap .talent-map-developer .dot {
  height: 6px;
  width: 6px;
  display: inline-block;
  /* outline: 4px solid rgba(0, 0, 0, 1); */
  background-color: #ffffff;
  border-radius: 50%;
  /* border: 3px solid rgba(0, 0, 0, 1); */
  box-shadow: 0px 0px 6px 3px rgb(0 0 0);
}

.talent-map .talent-map-wrap .talent-map-developer .expand,
.talent-map .talent-map-wrap .talent-map-developer .shrink {
  border-radius: 50%;
  width: 50px;
  margin: auto;
  background: white;
}

.talent-map .talent-map-wrap .talent-map-developer .shrink {
  overflow: hidden;
}

/* v-show Class */
.talent-map .v-show,
.talent-map .v-show.talent-map-wrap .talent-map-developer {
  visibility: visible !important;
  opacity: 1 !important;
}

.talent-map .v-show.talent-map-wrap .talent-map-developer img {
  width: 50px;
  height: 50px;
  padding: 5px;
  opacity: 1 !important;
  visibility: visible !important;
}
/* v-show Class */

.talent-map .talent-map-wrap .talent-map-developer .dev-details {
  margin: -5px 0px 0px 0px;
  transition: 0.7s all;
}

.talent-map .dev-details h5 {
  font-size: 14px;
  margin: 10px auto;
  font-weight: 600;
  color: #1a284d;
  line-height: 1.6;
}

/* .talent-map .dev-details p {
  color: #546285;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0px;
} */

.talent-map a {
  color: #198cca;
  text-decoration: none;
}

/* Client CSS */
.talent-map .client-1 {
  top: 30%;
  left: 5%;
}

.talent-map .client-2 {
  top: 20%;
  left: 13%;
}

.talent-map .client-3 {
  top: 34%;
  left: 70%;
}

.talent-map .client-4 {
  top: 48%;
  left: 65%;
}

.talent-map .client-5 {
  top: 21%;
  left: 45%;
}

.talent-map .client-6 {
  top: 14%;
  left: 53%;
}

.talent-map .client-7 {
  top: 36%;
  left: 64%;
}

.talent-map .client-8 {
  top: 36%;
  left: 55%;
}

.talent-map .client-9 {
  top: 2%;
  left: 9%;
}

.talent-map .client-10 {
  top: 73%;
  left: 82%;
}

.talent-map .client-11 {
  top: 5%;
  left: 0%;
}

/* Add New CLients */
.talent-map .client-12 {
  top: 43%;
  left: 69%;
}

.talent-map .client-13 {
  top: 55%;
  left: 79%;
}

.talent-map .client-14 {
  top: 27%;
  left: 66%;
}

.talent-map .client-15 {
  top: 14%;
  left: 7%;
}

.talent-map .client-16 {
  top: 14%;
  left: 40%;
}

.talent-map .client-17 {
  top: 23%;
  left: 0%;
}

.talent-map .client-18 {
  top: 70%;
  left: 49%;
}

.v-show.talent-map-wrap .talent-map-developer .logo-wrapper-show {
  background: #ffffff;
  height: 105px;
  width: 100%;
  overflow: hidden;
}

.v-show.talent-map-wrap .talent-map-developer .logo-wrapper-show img {
  border-radius: 0%;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.logo-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: height 0.5s ease, width 0.5s ease, border-radius 1s;
  margin: auto;
}

.logo-containter {
  width: 105px;
  height: auto;
  display: none;
}

.talent-map .hide {
  opacity: 0;
}

.talent-map .show {
  opacity: 1;
}

@media (min-width: 768px) {
  .talent-map .section-sub,
  .talent-map .section-title {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .talent-map .holder {
    height: 600px;
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .talent-map .talent-map-wrap .talent-map-developer img {
    display: inline-block;
  }

  .talent-map .talent-map-wrap .talent-map-developer .dot {
    display: none;
  }

  .logo-containter {
    display: block;
  }
}

@media (min-width: 1200px) {
  .talent-map .red-arc {
    display: block;
  }
}
