/** Hero Section **/
#hero-general {
  border-bottom: 1px solid #e1e3eb;
  background-color: #f5f0ea;
  padding: 0;
  /* height: 80vh; */
  /* background-image: url('/assets/images/jessica.png');
  background-repeat: no-repeat;
  background-position: 90% 100%;
  background-size: 35%; */
}

#hero-general .hero-wrap .hero-content .section-sub {
  text-align: left;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#hero-general .hero-wrap {
  height: 100%; /* fixed height to default to stop overwriting from some where else */
  position: relative;
  padding-top: 65px; /*To counter navigation bar height  */
  padding-bottom: 65px;
}

#hero-general .hero-wrap .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.inner-hero {
  height: auto;
  padding: 0;
  margin: auto;
}

.section {
  display: block;
}

#hero-general .hero-wrap .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#hero-general .hero-wrap .hero-content {
  width: 100%;
}

#hero-general .hero-wrap .hero-content .section-title {
  font-size: 42px;
  line-height: 58px;
  font-weight: 600;
  text-align: left;
  margin: 40px 0;
}

#hero-general .hero-wrap .hero-content .section-sub {
  font-size: 20px;
  line-height: 35px;
  color: #33475b;
  font-weight: 400;
  margin: auto;
  margin-bottom: 40px;
}

.blog-intro h1,
.dark .header-info h1,
.faq .blog-intro h1,
.grey .header-info h1,
.guides .blog-intro h1,
.section-title,
.subhero-inner .inner-hero .subhero-inner-wrap h1 {
  font-family: Poppins, sans-serif;
  color: #1a284d;
}

.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

/* Video Section */
#hero-general .hero-wrap .hero-content {
  position: relative;
}

.video-wrapper {
  padding: 0 15px;
  display: none;
}

.video-holder {
  position: relative;
  background-image: url('/assets/videos/poster-background.png');
  background-size: 91% 65%;
  background-repeat: no-repeat;
  background-position-x: 22px;
  background-position-y: 20px;
}

.video-holder video {
  width: 100%;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  outline: none;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.play-button:hover {
  color: rgba(255, 255, 255, 1);
}

.play-button svg path {
  fill: currentColor;
}

.play-button:focus {
  outline: none;
}

.play-button img {
  height: 100%;
  width: 100%;
}

#hero-general .hero-wrap .hero-content .col-md-6 {
  float: none;
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }

  #hero-general {
    height: 690px;
  }

  .video-wrapper {
    display: block;
    position: absolute;
    right: 0;
    /* background-color: #f1b236;
    border-radius: 50%; */
    bottom: 0;
    width: 410px;
    height: 410px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .play-button {
    top: 38%;
  }
}

@media (min-width: 1025px) {
  .video-wrapper {
    width: 460px;
    height: 460px;
    bottom: -60px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1201px) {
  .video-wrapper {
    width: 500px;
    height: 500px;
    bottom: -40px;
  }
}

#hero-general .hero-wrap .hero-content .btn.btn {
  margin-right: 10px;
}

.btn.btn-normal {
  border: 1px solid #24b768;
  color: #fff;
  background: #24b768;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding: 19px;
  border-radius: 3px;
}

.btn,
.btn.btn-normal {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#hero-general .hero-wrap .hero-content .btn {
  /* font-size: 1.8rem; */
  padding: 1.8rem 3.25rem;
  font-weight: 600;
}

#hero-general .hero-wrap .hero-content .btn.btn {
  margin-right: 10px;
}

/* @media (min-width: 1280px) and (max-height: 600px) {
  #hero-general .hero-wrap {
    height: 85vh;
  }
} */

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.26;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hero-general .hero-wrap .hero-content .btn.btn {
  margin-right: 0px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1440px) {
  #hero-general .hero-wrap .hero-content .section-title {
    font-size: 36px;
    line-height: 52px;
  }
}

@media screen and (max-width: 1200px) {
  #hero-general .hero-wrap .hero-content .section-title {
    font-size: 30px;
    line-height: 44px;
  }

  #hero-general .hero-wrap .hero-content .section-sub {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  #hero-general .hero-wrap .hero-content .section-title {
    font-size: 30px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 992px) {
  #hero-general {
    background-size: 0;
  }

  #hero-general .hero-wrap .hero-content .section-title {
    font-size: 36px;
    line-height: 52px;
  }

  #hero-general .hero-wrap .hero-content .section-sub {
    font-size: 20px;
    line-height: 35px;
  }

  #hero-general .hero-wrap .btn.btn-normal {
    margin-right: 0px;
    font-size: 1.6rem;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #hero-general .hero-wrap .hero-content .section-title {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 30px;
  }

  #hero-general .hero-wrap .hero-content .section-sub {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  #hero-general .hero-wrap .btn.btn-normal {
    font-size: 1.2rem;
  }
}
