/* Root Class => .pre-footer-wrap */
.pre-footer-wrap .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre-footer-wrap .container .global-comm-wrap {
  text-align: center;
  margin-bottom: 20px;
}

.pre-footer-wrap {
  background-image: url('/assets/images/cta_bg.svg');
  background-position: 50%;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-footer-wrap.dark-blue-bg {
  background-color: #1a284d;
}

.pre-footer-wrap .cta-wrap {
  display: flex;
  align-items: center;
}

.pre-footer-wrap .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.pre-footer-wrap h2 {
  color: #fff;
  font-size: 26px;
  line-height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  /* text-align: left; */
}

.pre-footer-wrap p {
  color: #fff;
  /* font-size: 30px; */
  font-size: 20px;
  letter-spacing: 0;
  line-height: 38px;
  font-family: Poppins, sans-serif;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .pre-footer-wrap .container {
    width: 750px;
    max-width: 100%;
  }

  .pre-footer-wrap .container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .pre-footer-wrap .container > div {
    flex: 1;
  }

  .pre-footer-wrap .container .global-comm-wrap {
    text-align: left;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .pre-footer-wrap .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .pre-footer-wrap .container {
    width: 1130px;
  }
}

@media only screen and (max-width: 450px) {
  .pre-footer-wrap h2 {
    font-size: 22px;
    line-height: 32px;
  }
  
  .pre-footer-wrap p {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Utils */
.pre-footer-wrap .clearfix:after,
.pre-footer-wrap .container-fluid:after,
.pre-footer-wrap .container:after,
.pre-footer-wrap .row:after {
  clear: both;
}

.pre-footer-wrap .clearfix:after,
.pre-footer-wrap .clearfix:before,
.pre-footer-wrap .container-fluid:after,
.pre-footer-wrap .container-fluid:before,
.pre-footer-wrap .container:after,
.pre-footer-wrap .container:before,
.pre-footer-wrap .row:after,
.pre-footer-wrap .row:before {
  content: ' ';
  display: table;
}

.pre-footer-wrap .global-comm-wrap.buttons {
  text-align: right;
}
