.our-clients {
  border-bottom: 1px solid #e1e3eb;
}

.trusted-by-wide .hire-trusted-by {
  display: flex;
  padding: 35px 15px;
  width: 100%;
  justify-content: space-between;
}

.trusted-by-wide .hire-trusted-by .trusted-by-txt {
  max-width: 11%;
  display: flex;
  align-items: center;
}

.trusted-by-wide .hire-trusted-by .trusted-by-txt p {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  color: #33475b;
  width: 100%;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands .logo-wrapper {
  display: inline-block;
  padding: 0 15px;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands .hover-logo {
  position: relative;
  display: block;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands .logo-wrapper .original-logo {
  filter: grayscale(1);
  opacity: .5;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands .hover-logo .logo {
  padding: 0;
}

.logo, .logo-motto, .logo.is-link {
  display: inline-block;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands .hover-logo .hover-text {
  display: none;
  color: #198cca;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}

.trusted-by-wide .hire-trusted-by .trusted-by-brands .hover-logo .blue-dot {
  background-color: #198cca;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  box-shadow: 0 0 0 6px #e8f3fa;
}

@media (min-width: 1280px) and (max-height: 600px) {
  .trusted-by-wide .hire-trusted-by {
      padding: 0 15px;
      height: 15vh;
  }
}