.our-tools {
  border-top: 1px solid #efefef;
}

.our-tools .container h2 {
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #1a284d;
  font-weight: 600;
}

.our-tools .tools-holder {
  display: flex;
}

.our-tools .tools-holder {
  display: flex;
}

.our-tools .tools-card {
  min-width: 112px;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.our-tools .tools-card .tools-logo-wrapper {
  height: 40px;
  width: 40px;
  overflow: hidden;
  margin: auto;
}

.our-tools .tools-card .tools-logo-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.our-tools .tools-card h3 {
  margin-top: 8px;
}

/* Marque */

.marquee {
  position: relative;
  height: 160px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.marquee .tools-holder {
  animation: marquee 50s linear infinite;
}

.marquee::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    white,
    rgba(255, 255, 255, 0) 80px,
    rgba(255, 255, 255, 0) calc(100% - 80px),
    white
  );
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .our-tools .container h2 {
    margin-bottom: 20px;
  }

  .our-tools .tools-card {
    min-width: 160px;
    font-size: 16px;
  }

  .our-tools .tools-card .tools-logo-wrapper {
    height: 48px;
    width: 48px;
  }
}
