#hero-general .video-button {
  padding: 8px 3rem;
  border: 1px solid #1b7e37;
  margin-bottom: 24px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #1b7e37;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.26;
}

#hero-general .video-button:focus {
  outline: none;
}

#hero-general .show-video {
  display: block;
}

#hero-general .button-icon {
  height: 34px;
  width: 34px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

@media (min-width: 993px) {
  #hero-general .video-button {
    margin-left: 20px;
    width: auto;
  }

  #hero-general .action-holder {
    display: flex;
  }

  #hero-general .video-button {
    padding: 8px;
  }

  #hero-general .button-icon {
    margin-right: 6px;
  }
}
