<section class="about-us-hero">
  <div class="filter">
    <div class="responsive-container">
      <h1>
        A team of tech admirers with Leadership of IIT Delhi helping your business grow astronomically!
      </h1>
      <p>
        We help hundreds of companies build and scale their engineering teams, and deliver web application development services with the help of our tech experts.
      </p>
    </div>
  </div>
  <div class="about-us-yellow-circle"></div>
</section>