<section class="about-us-hero">
  <div class="filter">
    <div class="responsive-container">
      <h1>
        A team of tech innovators helping your buisness grow technologically!
      </h1>
      <p>
        We help hundreds of companies worldwide build and scale engineering teams with distributed talent.
      </p>
    </div>
  </div>
  <div class="about-us-yellow-circle"></div>
</section>