<Header @onHireUs={{this.onHireUs}} @type="2" />
<div class="app-container">
  <div id="contact-hero">
    <Contact::HeroSection />
  </div>
  <Contact::FormSection />
  <Homepage::HireUs @onHireUs={{this.onHireUs}} />
  <Homepage::Footer />
</div>