<section class="our-story-section we-believe-section">
  <div class="responsive-container">
    <div>
      <p class="about-us-para1">
        We believe,
      </p>
      <h2 class="about-us-heading we-believe-heading">
        “The meaning of life is to find your gift.
        <br />
        The purpose of life is to give it away.”
      </h2>
      <div class="we-believe-cards">
        <figure class="who-we-are-figure2">
          <Common::AppImage class="we-believe-image" @src="/assets/images/girl.png" alt="girl" />
        </figure>
        <div class="we-believe-text-block-1">
          <h3 class="about-us-heading1">
            Active Philanthropy in Anubhuti Samiti
          </h3>
          <p class="about-us-para we-believe-para">
            Empowering 20,000 underprivileged children with equal educational rights
          </p>
        </div>
        {{! <figure class="who-we-are-figure3">
          <Common::AppImage class="we-believe-image" @src="/assets/images/girl.png" alt="girl" />
        </figure>
        <div class="we-believe-text-block-2">
          <h3 class="about-us-heading2">
            Ultrices gravida venenatis sollicitudin
          </h3>
          <p class="about-us-para we-believe-para">
            Impacted x number of lives via our xyz
          </p>
        </div> }}
      </div>
    </div>
  </div>
  <div class="we-believe-green-ring">
    <Common::AppImage @src="/assets/images/green-ellipse.png" alt="machine" />
  </div>
</section>