<section class="tools-of-trade-section">
  <div class="tools-of-trade-responsive-container">
    <h2 class="about-us-heading">
      Tools of our trade
    </h2>
    <div class="tools-of-trade-figures">
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/ethereum.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Ethereum
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/jenkins.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Jenkins
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/mongodb.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          MongoDB
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/mysql.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          MySQL
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/nodejs.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Node Js
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/postgresql.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          PostgreSQL
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/python.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Python
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/rabbitmq.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          RabbitMQ
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/reactnative.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          React Native
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/redis.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Redis
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/serverless.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Serverless
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/springboot.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Spring Boot
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/swift.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Swift
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/vuejs.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Vue Js
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/amazonsqs.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Amazon SQS
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/aws.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          AWS
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/angular.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Angular
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/awslamda.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          AWS Lambda
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/binance.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Binance Smart Chain
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/docker.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Docker
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/elastic.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Elastic
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/ember.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Ember
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/android.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          Android
        </figcaption>
      </figure>
      <figure class="tools-of-trade-figure">
        <Common::AppImage class="tools-of-trade-img" @src="/assets/images/react.png" alt="customer obsession" />
        <figcaption class="tools-of-trade-caption">
          React
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="who-we-are-red-ring">
    {{! <Common::AppImage @src="/assets/images/red-ellipse.png" alt="red ellipse" /> }}
  </div>
</section>