/* 
#######################################################
################# GLOBAL SETTINGS #####################
#######################################################  
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}
