.menu {
  height: auto;
  font-family: Poppins, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #f5f0ea;
  overflow: visible;
}

.menu .nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 0;
  clear: both;
  overflow: hidden;
}

.menu .menu-index {
  float: left;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #1a284d;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.menu .links a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #1a284d;
  letter-spacing: 0;
  padding: 16px 10px;
  margin: 16px 0;
  text-decoration: none;
}

.links a:hover {
  background-color: #f9fafc;
}
.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  display: block;
  box-sizing: border-box;
}

.menu .menu-primary {
  display: block;
  padding: 10px 16px 8px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: #24b768;
  text-align: center;
  font-size: 12px;
  line-height: 1.9;
  letter-spacing: 0.3px;
  border-radius: 3px;
  margin: 20px 0;
  padding-right: 15px;
}

.menu .menu-primary:hover {
  background-color: #198c4e;
}

.hamburger-icon {
  cursor: pointer;
  padding: 32px 20px;
  position: relative;
  user-select: none;
  float: right;
}

.hamburger-icon .ham-icon {
  background-color: #333333;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 25px;
}

.hamburger-icon .ham-icon::before,
.hamburger-icon .ham-icon::after {
  background-color: #333333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamburger-icon .ham-icon::before {
  top: 7px;
}

.hamburger-icon .ham-icon::after {
  top: -7px;
}

.hamburger-btn {
  display: none;
}

.hamburger-btn:checked ~ .nav-items {
  height: calc(100vh - 68px);
  height: calc((var(--vh, 1vh) * 100) - 68px);
  max-height: none;
  overflow: auto;
  padding: 0 20px 20px 20px;
  border-top: 1px solid #e1e3eb;
}

.hamburger-btn:checked ~ .hamburger-icon .ham-icon {
  background-color: transparent;
}

.hamburger-btn:checked ~ .hamburger-icon .ham-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.hamburger-btn:checked ~ .hamburger-icon .ham-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* Logo Transition */
.menu .logo-holder {
  height: 48px;
  position: relative;
  max-width: 106px;
  width: 48px;
  margin-right: 15px;
}

.menu .logo-holder.olympic {
  width: 105px;
}

.menu .logo-holder:focus {
  outline: none;
}

.menu .logo-holder img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.menu .logo-holder img.visible {
  opacity: 1;
  transition: opacity, width 100s ease-in-out;
}

.menu .logo-holder img.hidden {
  opacity: 0;
}

.menu p.inspired {
  margin: 0;
  font-size: 9px;
  font-weight: normal;
}

.service-page-dialog {
  position: relative;
}

.service-page-dialog-box {
  visibility: hidden;
}

.service-page-dialog:hover .service-page-dialog-box {
  visibility: visible;
}

.mobile-menu{
  margin:16px 30px !important;
}

.mobile-menu-link {
  display: block !important;
  font-size: 14px;
  font-weight: 600;
  color: #1a284d;
  letter-spacing: 0;
  padding: 16px 10px 16px 0;
  margin: 16px 0 16px 10px;
  border-bottom: 1.86px solid #31B76A;
  width: 124.4px;
}

.mobile-menu-link img {
  display: inline;
  margin-left: 12px;
}

.desktop-menu-link {
  display: none !important;
}

@media (min-width: 1025px) {
  .menu {
    display: flex;
    /* overflow: hidden; */
  }

  .menu .nav-items {
    display: flex;
    flex-direction: row;
    flex: 10;
    overflow: visible;
    max-height: none;
    width: 100%;
    padding: 0 21px;
  }

  .menu .nav-items .menu-home {
    display: none;
  }

  .menu .links {
    display: flex;
    flex: 1;
    column-gap: 15px;
  }

  .hamburger-icon {
    display: none;
  }

  .menu .links a {
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin: 0;
    padding: 16px 10px 14px;
  }

  .menu .menu-primary {
    margin: auto 0;
  }

  .links a:hover {
    border-bottom: 2px solid #198cca;
    background-color: transparent;
  }

  .links .service-page-dialog a:hover {
    border-bottom: 2px solid transparent;
  }

  .links .current-url.current-url {
    border-bottom: 2px solid #198cca;
  }
  
  .mobile-menu{
    display: none !important;
  }

  .mobile-menu-link {
    display: none !important;
  }

  .desktop-menu-link {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .menu .menu-index {
    margin-left: 5%;
  }

  .menu .nav-items {
    margin-right: 5%;
  }
}

.services-menu {
  display: none;
}

.services-menu-open {
  display: block;
}
