<section class='career-feature'>
  <div class='reason'>
    <h2>
      Why should you join Primathon?
    </h2>
    <div class='feature'>
      <div class='feature-image'>
        <img src='/assets/images/innovation.png' alt='innovation' />
      </div>
      <p class='heading'>Innovation</p>
      <p class='content'>Work on technologies of the future, stay connected to everything that is happening and be a
        part of the modern tech-revolution</p>

      <div class='feature-image'>
        <img src='/assets/images/growth.png' alt='growth' />
      </div>
      <p class='heading'>Growth</p>
      <p class='content'>Our culture is built on the philosophy of mutual growth and becoming the best version of
        yourself- as an employee and as a person</p>

      <div class='feature-image'>
        <img src='/assets/images/balance.png' alt='balance' />
      </div>
      <p class='heading'>Balance</p>
      <p class='content'>We believe in balance. Working, Learning and Fun are equally important. We never compromise on
        our training sessions and fun times</p>
    </div>
  </div>
</section>