<div class='join-us'>
  <div class='career-poster-ring'>
    <Common::AppImage @src='/assets/images/career-red-ring.png' alt='red ellipse' />
  </div>
  <div class='describe mobile'>
    <span>
      We are building our team and our team is building the
    </span>
    <span class='green'>
      technology of tomorrow.
    </span>
  </div>
  <div class='joinUsImg'>
    <Common::AppImage @src='/assets/images/joinUs.png' alt='join-us' />
  </div>
  <div style='flex: 1;'>
    <div class='describe'>
      <span class='desktop'>
        We are building our team and our team is building the
      </span>
      <span class='green desktop'>
        technology of tomorrow.
      </span>
      <div class='open-job-button'>
        <LinkTo @route='open-position' class='menu-home'>
          <button>
            Find open Positions
          </button>
        </LinkTo>
      </div>
    </div>
  </div>

</div>