<Container class='career-poster' style='background-color: white;'>
  <div class="join-us">
    <img src='/assets/images/joinUs.png' alt='join-us' />
    <div>
      <span>
        We are building our team and our team is building
      </span>
      <span>
        the technology of tomorrow.
      </span>
      <button>
        Find open Opening
      </button>
    </div>
  </div>
</Container>