<section class='our-story-section meet-our-founders'>
  <div class='what-are-you-looking-responsive-container'>
    <h2 class='we-are-trusted-heading font-weight-500'>
      What are you looking for?
    </h2>
    <div class='what-are-you-looking-figures'>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-frontend-developers'>
          Frontend Developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.product-managers'>
          Product managers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-backend-developers'>
          Backend developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.quality-analysts'>
          Quality Analysts
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-android-developers'>
          Android developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-python-developers'>
          Python developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-angular-js-developers'>
          Angular developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-javascript-developers'>
          JavaScript developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-react-js-developers'>
          React developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-ios-developers'>
          IOS developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-swift-developers'>
          Swift developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-vue-developers'>
          Vue developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-ember-js-developers'>
          Ember.js developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-node-js-developers'>
          Node.js developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.uiux-designers'>
          UI/UX Designers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.platform'>
          Platform
        </LinkTo>
      </p>
    </div>
    <LinkTo @route='contact'>
      <button type='button' class='what-are-you-looking-button'>
        <p class='what-are-you-looking-button-text'>
          SHARE YOUR REQUIREMENTS
        </p>
      </button>
    </LinkTo>
  </div>
  {{! <div class="who-we-are-green-ring"></div> }}
</section>