<section class="our-story-section meet-our-founders">
  <div class="what-are-you-looking-responsive-container">
    <h2 class="we-are-trusted-heading font-weight-500">
      What are you looking for?
    </h2>
    <div class="what-are-you-looking-figures">
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.hire-frontend-developers">
              <h4 class="what-are-you-looking-sub-heading">
                Front End Developers
              </h4>
            </LinkTo>
          </summary>
          <p class="what-are-you-looking-para">
            React JS Developers
          </p>
          <p class="what-are-you-looking-para">
            Angular JS Developers
          </p>
          <p class="what-are-you-looking-para">
            Ember JS Developers
          </p>
          <p class="what-are-you-looking-para">
            Vue JS Developers
          </p>
          <p class="what-are-you-looking-para">
            Jquery Developers
          </p>
          <p class="what-are-you-looking-para">
            JavaScript Developers
          </p>
        </details>
      </div>
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.hire-backend-developers">
              <h4 class="what-are-you-looking-sub-heading">
                Back End Developers
              </h4>
            </LinkTo>
          </summary>
          <p class="what-are-you-looking-para">
            Node JS Developers
          </p>
          <p class="what-are-you-looking-para">
            Java Developers
          </p>
          <p class="what-are-you-looking-para">
            Python Developers
          </p>
        </details>
      </div>
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.hire-android-developers">
              <h4 class="what-are-you-looking-sub-heading">
                Mobile Developers
              </h4>
            </LinkTo>
          </summary>
          <p class="what-are-you-looking-para">
            Android Developers
          </p>
          <p class="what-are-you-looking-para">
            iOS Developers
          </p>
          <p class="what-are-you-looking-para">
            React Native Developers
          </p>
          <p class="what-are-you-looking-para">
            Flutter Developers
          </p>
          <p class="what-are-you-looking-para">
            Jquery Developers
          </p>
          <p class="what-are-you-looking-para">
            JavaScript Developers
          </p>
        </details>
      </div>
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.quality-analysts">
              <h4 class="what-are-you-looking-sub-heading">
                Quality Analyst
              </h4>
            </LinkTo>
          </summary>
          <p class="what-are-you-looking-para">
            Functional Testing
          </p>
          <p class="what-are-you-looking-para">
            Manual Testing
          </p>
          <p class="what-are-you-looking-para">
            Regression Testing
          </p>
          <p class="what-are-you-looking-para">
            Usability Testing
          </p>
        </details>
      </div>
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.platform">
              <h4 class="what-are-you-looking-sub-heading">
                Platforms
              </h4>
            </LinkTo>
          </summary>
          <p class="what-are-you-looking-para">
            DevOps Engineer
          </p>
          <p class="what-are-you-looking-para">
            Shopify Developers
          </p>
        </details>
      </div>
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.product-managers">
              <h4 class="what-are-you-looking-sub-heading">
                Product Managers
              </h4>
            </LinkTo>
          </summary>
        </details>
      </div>
      <div class="what-are-you-looking-figure">
        <details open>
          <summary>
            <LinkTo @route="services.staff-augmentation.uiux-designers">
              <h4 class="what-are-you-looking-sub-heading">
                UI/UX Designers
              </h4>
            </LinkTo>
          </summary>
        </details>
      </div>
    </div>
    <LinkTo @route="contact">
      <button type="button" class="what-are-you-looking-button">
        <p class="what-are-you-looking-button-text">
          SHARE YOUR REQUIREMENTS
        </p>
      </button>
    </LinkTo>
  </div>
  {{! <div class="who-we-are-green-ring"></div> }}
</section>