<section class="our-story-section meet-our-founders top-notch-talent-container">
  <div class="how-we-build-our-team services-responsive-container">
    <h2>
      How we build our team?
    </h2>
    <ul>
      <li>
        <div class="image">
          <img src="/assets/images/arrow-target.png" alt="Identify best talent" />
        </div>
        <div class="how-we-build-our-team__middle">
          <div class="how-we-build-our-team__no-line"></div>
          <div class="how-we-build-our-team__dot"></div>
          <div class="how-we-build-our-team__dotted-line"></div>
        </div>
        <p>
          Identify the best talent with 2+ years of experience
        </p>
      </li>
      <li class="reverse-row">
        <div class="image">
          <img src="/assets/images/destop-code.png" alt="We give training" />
        </div>
        <div class="how-we-build-our-team__middle">
          <div class="how-we-build-our-team__dotted-line"></div>
          <div class="how-we-build-our-team__dot"></div>
          <div class="how-we-build-our-team__dotted-line"></div>
        </div>
        <p>
          We Train them by following on-going training methodology
        </p>
      </li>
      <li>
        <div class="image">
          <img src="/assets/images/person-presentation.png" alt="Give them hands on expertise" />
        </div>
        <div class="how-we-build-our-team__middle">
          <div class="how-we-build-our-team__dotted-line"></div>
          <div class="how-we-build-our-team__dot"></div>
          <div class="how-we-build-our-team__dotted-line"></div>
        </div>
        <p>
          Give them hands on expertise with our in-house projects
        </p>
      </li>
      <li class="reverse-row">
        <div class="image">
          <img src="/assets/images/done-circle.png" alt="They share their talents" />
        </div>
        <div class="how-we-build-our-team__middle">
          <div class="how-we-build-our-team__dotted-line"></div>
          <div class="how-we-build-our-team__dot"></div>
          <div class="how-we-build-our-team__no-line"></div>
        </div>
        <p>
          They share their talents and add value to your business
        </p>
      </li>
    </ul>
  </div>
  <div class="top-notch-talent-responsive-container">
    <h2 class="top-notch-talent-heading">
      Allow us to bring top notch talent for your buisness!
    </h2>
    <div class="top-notch-talent-scroll-div">
      <div class="top-notch-talent-figures">
        <figure class="">
          <img class="top-not-talent-img" src="/assets/images/radhika.png" alt="customer obsession" />
          <figcaption class="top-not-talent-caption">
            Radhika Das
          </figcaption>
          <div class="subtext">
            Front-End Developer
          </div>
          <div class="subsubtext">
            5 years of experiece
          </div>
        </figure>
        <figure class="">
          <img class="top-not-talent-img" src="/assets/images/ayush.png" alt="customer obsession" />
          <figcaption class="top-not-talent-caption">
            Ayush Kalra
          </figcaption>
          <div class="subtext">
            Full-Stack Developer
          </div>
          <div class="subsubtext">
            6 years of experiece
          </div>
        </figure>
        <figure class="">
          <img class="top-not-talent-img" src="/assets/images/avnish.png" alt="customer obsession" />
          <figcaption class="top-not-talent-caption">
            Avnish Juneja
          </figcaption>
          <div class="subtext">
            AI/ML Engineer
          </div>
          <div class="subsubtext">
            5 years of experiece
          </div>
        </figure>
        <figure class="">
          <img class="top-not-talent-img" src="/assets/images/alicia.png" alt="customer obsession" />
          <figcaption class="top-not-talent-caption">
            Gaurav Uniyal
          </figcaption>
          <div class="subtext">
            Quality Analyst
          </div>
          <div class="subsubtext">
            6 years of experiece
          </div>
        </figure>
        <figure class="">
          <img class="top-not-talent-img" src="/assets/images/geeta.png" alt="customer obsession" />
          <figcaption class="top-not-talent-caption">
            Geetha S
          </figcaption>
          <div class="subtext">
            Full-Stack Developer
          </div>
          <div class="subsubtext">
            4 years of experiece
          </div>
        </figure>
        <button type="button" class="top-notch-talent-btn top-notch-talent-next" {{on 'click' this.showNext}}>
          <img class="top-notch-talent-next-img" src="/assets/images/next.png" alt="customer obsession" />
        </button>
        <button type="button" class="top-notch-talent-btn top-notch-talent-prev" {{on 'click' this.showPrevious}}>
          <img class="top-notch-talent-prev-img" src="/assets/images/prev.png" alt="customer obsession" />
        </button>
      </div>
    </div>
  </div>
</section>
<div class="top-notch-green-ring">
  <img src="/assets/images/green-circle.png" alt="green ellipse" />
</div>
{{! <img class="top-not-talent-img" src="/assets/images/green-left-half-circle.png" alt="customer obsession" /> }}