<nav class='menu items-center text-white bg-blue-300'>
  <LinkTo @route='index' class='menu-index'>
    <img src='assets/images/primathon_icon_final.png' alt='Primathon' />
    <h1>Primathon</h1>
  </LinkTo>
  <input class='hamburger-btn' type='checkbox' id='hamburger-btn' />
  <label class='hamburger-icon' for='hamburger-btn'><span class='ham-icon'></span></label>
  <div class='nav-items'>
    <div class='links'>
      {{! <LinkTo @route="about-us" class="menu-about">
        About Us
      </LinkTo> }}
      {{! <LinkTo @route="careers" class="menu-cases">
        Case studies
      </LinkTo> }}
      <a href='https://blog.primathon.in/' target='_blank' class='menu-blog' rel='noopener noreferrer'>
        Blog
      </a>
      {{! <LinkTo @route="careers" class="menu-careers">
        Careers
      </LinkTo> }}
      <LinkTo @route='contact' class='menu-contact'>
        Contact
      </LinkTo>
    </div>
    <LinkTo @route='contact' class='menu-primary'>
      HIRE TOP TALENT
    </LinkTo>
  </div>
</nav>