<section
  class='flex items-center justify-center gap-16 md:bg-[#FFC700] md:h-[400px] lg:h-[420px] mt-8 md:mt-16 flex-col md:flex-row md:p-24 xl:py-28 xl:px-44'
>
  <div class='pl-4 pr-4 md:p-0 md:h-[500px] lg:h-[600px] md:relative top-0 lg:bottom-24' style='flex-shrink: 0;'>
    <img
      src={{@data.imgSrc}}
      alt='iPhone image'
      title='iPhone image'
      class='h-[400px] md:h-[100%] md:w-[360px] lg:w-[400px]'
    />
  </div>

  <div class='py-16 px-8 sm:py-28 sm:px-20 md:p-0 flex flex-col justify-center bg-[#FFC700]'>
    <h3 class='font-medium text-3xl md:text-4xl mb-8 lg:mb-10'>{{@data.heading}}</h3>
    <div class='md:max-w-[640px] lg:max-w-[780px] pl-6'>
      <ul class='list-disc'>
        {{#each @data.bulletList as |list|}}
          <li class='lg:text-lg xl:text-xl'>{{list}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>