<section class='hero-section-csblog'>
    <img src='/assets/svgs/bloom.svg' alt="bloom image" />
    <p class='companyDescription'>
        A platform for a new generation of hotels for intelligent travellers,
at the best locations & rates.
    </p>
</section>