<section class="blogHeroImage" style={{@heroData.backgroundStyle}}>
  <div  class='hero-section-csblog' style={{@heroData.maskStyle}}>
    <Common::AppImage @src={{@heroData.companyLogo}} alt='company Logo' />
    <p class='companyDescription'>
      {{@heroData.description}}
    </p>
  </div>
</section>