<section class='our-story-section meet-our-founders cluture'>
  <div class='cluture-responsive-container'>
    <h2 class='cluture-heading'>
      Our Culture
    </h2>
    <div class='cluture-image-container'>
      <div class='cluture-figures'>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture1.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture2.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture3.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture4.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture6.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture1.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture2.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture3.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture4.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture6.jpg' alt='culture' />
        </div>
      </div>
      <div class='cluture-figures'>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture1.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture2.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture3.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture4.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture6.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture1.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture2.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture3.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture4.jpg' alt='culture' />
        </div>
        <div class='cluture-figure'>
          <img src='/assets/culture/culture6.jpg' alt='culture' />
        </div>
      </div>
    </div>
  </div>
</section>