<section class="our-story-section meet-our-founders cluture">
  <div class="cluture-responsive-container">
    <h2 class="cluture-heading">
      Our Culture
    </h2>
    <div class="cluture-image-container">
      <div class="cluture-figures">
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
      </div>
      <div class="cluture-figures">
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
        <div class="cluture-figure">
          <img src="https://picsum.photos/380/312" alt="culture" />
        </div>
      </div>
    </div>
  </div>
</section>