<div class="our-clients">
    <div class="trusted-by-wide  ">
      <div class="container">
        <div class="hire-trusted-by">
          <div class="trusted-by-txt">
            <p>Trusted by over 200 tech companies</p>
          </div>
          <div class="trusted-by-brands">
            <div class="logo-wrapper">
              <img src="https://adevait.com/../img/assets/hopin_original.svg" loading="lazy" class="original-logo logo"
                alt="Hopin">
            </div>
            <div class="logo-wrapper">
              <a class="hover-logo" href="/clients/imgur">
                <img src="https://adevait.com/../img/assets/imgur_original.svg" class="original-logo logo"
                  loading="lazy" alt="Imgur">
                <p class="hover-text">Read Case Study</p>
                <p class="blue-dot"></p>
              </a>
            </div>
            <div class="logo-wrapper">
              <img src="https://adevait.com/../img/assets/johnson&amp;johnson_original.svg" loading="lazy"
                class="original-logo logo" alt="Johnson &amp; Johnson">
            </div>
            <div class="logo-wrapper">
              <a class="hover-logo" href="/clients/perfocal">
                <img src="https://adevait.com/../img/assets/perfocal_original.svg" class="original-logo logo"
                  loading="lazy" alt="Perfocal">
                <p class="hover-text">Read Case Study</p>
                <p class="blue-dot"></p>
              </a>
            </div>
            <div class="logo-wrapper">
              <a class="hover-logo" href="/clients/reboot">
                <img src="https://adevait.com/../img/assets/reboot_original.svg" class="original-logo logo"
                  loading="lazy" alt="Reboot">
                <p class="hover-text">Read Case Study</p>
                <p class="blue-dot"></p>
              </a>
            </div>
            <div class="logo-wrapper">
              <img src="https://adevait.com/../img/assets/slice_original.svg" loading="lazy" class="original-logo logo"
                alt="Slice">
            </div>
            <div class="logo-wrapper">
              <img src="https://adevait.com/../img/assets/qri_original.svg" loading="lazy" class="original-logo logo"
                alt="QRI">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>