<div class="container-fluid hire-features">
  <div class="orange-bar"></div>
  <div class="container">
    <h2 class="center">
      {{@title}}
    </h2>
    <p class="section-sub center">
      {{@description}}
    </p>
    <div class="row hire-feature-boxes-wrap">
      <div class="grid hire-feature-boxes">
        {{#each @data as |data|}}
          <div class="hire-feature-box">
            <h3>
              {{data.title}}
            </h3>
            <p>
              {{data.description}}
            </p>
          </div>
        {{/each}}
      </div>
      <div class="main-image">
        <Common::AppImage
          @srcset="/assets/images/amazing-team.webp , /assets/images/amazing-team.png"
          @src="/assets/images/amazing-team.png" loading="lazy" alt="Amazing teams" width="100%" height="100%"/>
      </div>
    </div>
  </div>
</div>