<footer class='site-footer large-footer footer-wrapper'>
  <section class='container-fluid post-footer-wrap'>
    <div class='row'>
      <div class='container'>
        <div class='row copy-links'>
          <div class='col-md-6 col-sm-6 col-xs-7 copyright-footer'>
            <ul>
              <li>© Copyright 2018 - 2022 Primathon</li>
              {{! <li><a href='https://primathon.com/privacy'>Privacy Policy</a></li>
              <li><a href='https://primathon.com/tos'>Website Terms</a></li> }}
            </ul>
          </div>
          <div class='col-md-6 col-sm-6 col-xs-5 social-footer'>
            <ul class='social-list'>
              {{! <li>
                <a href='#' target='_blank' rel='noopener noreferrer' aria-label='facebook'><i
                    class='icon-facebook'
                    aria-hidden='true'
                  ></i></a>
              </li> }}
              {{! <li>
                <a href='#' target='_blank' rel='noopener noreferrer' aria-label='instagram'><i
                    class='icon-instagram'
                    aria-hidden='true'
                  ></i></a>
              </li> }}
              {{! <li>
                <a href='#' target='_blank' rel='noopener noreferrer' aria-label='youtube'><i
                    class='icon-youtube'
                    aria-hidden='true'
                  ></i></a>
              </li> }}
              <li>
                <a
                  href='https://twitter.com/primathontech'
                  target='_blank'
                  rel='noopener noreferrer'
                  aria-label='twitter'
                ><i class='icon-twitter' aria-hidden='true'></i></a>
              </li>
              <li>
                <a
                  href='https://www.linkedin.com/company/primathon'
                  target='_blank'
                  rel='noopener noreferrer'
                  aria-label='linkedin'
                ><i class='icon-linkedin' aria-hidden='true'></i></a>
              </li>
              {{! <li>
                <a href='#' target='_blank' rel='noopener noreferrer' aria-label='github'><i
                    class='icon-github'
                    aria-hidden='true'
                  ></i></a>
              </li> }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>