<div id="hero-general" class="container-fluid ">
  <section class="inner-hero hero-wrap" style="background-image: url(/assets/images/jessica.png)">
    <div class="container">
      <div class=" clearfix hero-content">
        <div class="col-md-6 col-sm-12">
          <h1 class="section-title">Building Solutions the way we build our Software- Well timed, Pivotal, Dynamic & Exceptional</h1>
          <h2 class="section-sub">We help hundreds of companies worldwide build and scale engineering teams with
            distributed talent.</h2>
          <a href="https://primathon.in/contact" class="btn btn-normal" aria-label="Get started">Hire Top Talent</a>
        </div>
      </div>
    </div>
  </section>  
</div>