<section class='container-fluid pre-footer-wrap dark-blue-bg'>
  <div class='row'>
    <div class='container'>
      <div class='global-comm-wrap'>
        <h2>
          Ready to transform your business?
        </h2>
        <p>
          Get in touch to schedule a call.
        </p>
      </div>
      <div class='global-comm-wrap buttons'>
        <button type="button" class='btn btn-normal btn-hire' {{on 'click' this.openModal}}>
          GET IN TOUCH 
        </button>
      </div>
    </div>
  </div>
</section>
{{#if this.isModalOpen}}
<div class="fixed top-0 left-0 w-full h-full flex justify-center items-center z-50" {{on 'click' this.closeModal}}>
  <Contact::ContactModal />
</div>
{{/if}}