<div class="our-clients">
  <div class="trusted-by-wide">
    <div class="container">
      <div class="hire-trusted-by">
        <div class="trusted-by-txt">
          <p>Trusted by over 25+ tech companies globally</p>
        </div>
        <div class="trusted-by-brands">
          <div class="logo-wrapper">
            <img src="/assets/images/leena.jpeg" loading="lazy" class="original-logo logo"
              alt="Leena &amp; AI">
          </div>
          <div class="logo-wrapper">
            <img src="/assets/images/freshdesk.png" class="original-logo logo" loading="lazy"
                alt="Freshdesk">
              {{!-- <p class="hover-text">Read Case Study</p> --}}
              {{!-- <p class="blue-dot"></p> --}}            
          </div>
          <div class="logo-wrapper">
            <img src="/assets/images/indiez.png" loading="lazy"
              class="original-logo logo" alt="Indiez">
          </div>          
          <div class="logo-wrapper">
            <img src="/assets/images/logo_appsmith.png" loading="lazy"
              class="original-logo logo" alt="AppSmith">
          </div>
          <div class="logo-wrapper">
            <img src="/assets/images/logo_bis.png" loading="lazy"
              class="original-logo logo" alt="BIS">
          </div>
          {{!-- <div class="logo-wrapper">
            <img src="/assets/images/logo_dehaat.png" loading="lazy"
              class="original-logo logo" alt="Dehaat">
          </div> --}}
          <div class="logo-wrapper">
            <img src="/assets/images/logo_edfora.png" loading="lazy"
              class="original-logo logo" alt="Edfore">
          </div>
          <div class="logo-wrapper">
            <img src="/assets/images/logo-paxful.jpeg" loading="lazy"
              class="original-logo logo" alt="Paxful">
          </div>
          <div class="logo-wrapper">
            <img src="/assets/images/logo-minto.jpeg" loading="lazy"
              class="original-logo logo" alt="Minto">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>