<div class="our-clients">
  <div class="trusted-by-wide">
    <div class="container">
      <div class="hire-trusted-by">
        <div class="trusted-by-txt">
          <p>
            Trusted by over 100+ tech companies globally
          </p>
        </div>
        <div class="trusted-by-brands--scroll">
          <div class="trusted-by-brands">
            <div class="logo-wrapper">
              <Common::AppImage @src="/assets/clients/sothebys-logo.svg" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <div class="logo-wrapper">
              <Common::AppImage @src="/assets/clients/paxful-logo.svg" class="original-logo logo" loading="lazy" alt="Paxful" />
            </div>
            <div class="logo-wrapper">
              <Common::AppImage @src="/assets/clients/staybloom-logo.svg" loading="lazy" class="original-logo logo" alt="Staybloom" />
            </div>
            <div class="logo-wrapper">
              <Common::AppImage
                @src="/assets/clients/freshworks-logo.svg"
                loading="lazy"
                class="original-logo logo"
                alt="Freshworks"
              />
            </div>
            <div class="logo-wrapper">
              <Common::AppImage
              @srcset="/assets/clients/cococola-logo.webp, /assets/clients/cococola-logo.jpg" 
              @src="/assets/clients/cococola-logo.jpg" loading="lazy" class="original-logo logo" alt="Coca Cola" />
            </div>
            <div class="logo-wrapper">
              <Common::AppImage @src="/assets/clients/exl-logo.png" loading="lazy" class="original-logo logo" alt="Exl" />
            </div>
            <div class="logo-wrapper">
              <Common::AppImage @src="/assets/clients/epifi.svg" loading="lazy" class="original-logo logo" alt="Epifi" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>