<div class='px-6 py-12 sm:px-24 md:p-12 lg:px-24 lg:py-16'>
  <h3 class='font-semibold text-3xl text-black text-center mb-2'>
    Primathon in News
  </h3>
  <div class='flex gap-x-6 sm:gap-x-12 justify-between items-center h-24 mx-auto max-w-[1600px] overflow-x-auto' style="
    &::-webkit-scrollbar: {
      display: none,
    };
    '-ms-overflow-style': none;
    scrollbar-width: none">
    <a
      href='https://economictimes.indiatimes.com/small-biz/sme-sector/suniel-shetty-backed-veda-rehabilitation-and-primathon-collaborate-to-launch-app-for-mental-health/articleshow/102822847.cms'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='block w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage 
      @srcset="/assets/images/economics-times-icon.webp, /assets/images/economics-times-icon.png"
      @src='/assets/images/economics-times-icon.png' alt='button icon' width="100%" height="100%"/>
    </a>
    <a
      href='https://www.financialexpress.com/entertainment/suniel-shettys-mental-health-app-gets-a-new-app-called-primathon/3212947/'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='block w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage @src='/assets/images/financial-express-icon.png' height='48px' width='144px' alt='button icon' />
    </a>
    <a
      href='https://timesofindia.indiatimes.com/top-headlines/primathon-and-veda-partner-to-launch-cutting-edge-mental-health-wellness-app/articleshow/102801073.cms'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='block w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage 
     @srcset="/assets/images/economics-times-icon.webp, /assets/images/economics-times-icon.png"
      @src='/assets/images/the-times-of-india-icon.png' height='48px' width='144px' alt='button icon' />
    </a>
    <a
      href='https://www.apnnews.com/primathon-develops-mobile-app-for-suniel-shetty-backed-veda-rehabilitation-and-wellness-a-mental-health-wellness-platform/'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='flex items-center w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage @src='/assets/images/apn-news-icon.png' height='48px' width='144px' alt='button icon' />
    </a>
    <a
      href='https://newspatrolling.com/suniel-shetty-backed-veda-rehabilitation-gets-a-new-app-develop-by-primathon-a-custom-software-development-company-in-india/#:~:text=The%20Primathon%2Ddeveloped%20Veda%20Rehabilitation,access%20valuable%20mental%20wellness%20resources'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='block w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage @src='/assets/images/news-patrolling-icon.png' height='48px' width='144px' alt='button icon' />
    </a>
    <a
      href='https://bwmarketingworld.businessworld.in/article/Suniel-Shetty-Joins-Hands-With-Primathon-Veda-Rehabilitation-/17-08-2023-487924/'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='flex items-center w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage @src='/assets/svgs/bw-marketing-logo.svg' height='48px' width='144px' alt='button icon' />
    </a>
    <a
      href='https://startup.outlookindia.com/sector/e-commerce/suniel-shetty-backed-veda-rehabilitation-and-wellness-partners-with-primathon-news-9137'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='block w-36 h-12'
      style='flex-shrink: 0'
    >
      <Common::AppImage @src='/assets/svgs/startup-outlook-logo.svg' height='48px' width='144px' alt='button icon' />
    </a>
    <a
      href='https://businessnewsweek.in/business/suniel-shetty-backed-veda-rehabilitation-gets-a-new-app-develop-by-primathon/'
      target='_blank'
      rel='noopener noreferrer'
      aria-label=''
      class='block w-36 h-12'
      style='flex-shrink: 0'
    >
      <span class='font-semibold text-base text-black text-center'>Business News Week</span>
    </a>
  </div>
</div>