<div class='container-fluid talent-categories'>
  <div class='container'>
    <h2 class='center'>World-Class Tech Talent to Your Doorstep</h2>
    <p class='section-sub center'>Leverage world-class tech talent that work alongside your team to build better
      products, faster.</p>
    <div class='grid grid-cols-3 gap-8'>
      <div class='service-card'>
        <a href='https://adevait.com/software'>
          <div class='talent-category'>
            <img
              src='https://adevait.com/img/assets/developers-v2.svg'
              loading='lazy'
              alt='Developers'
              title='Software Developers'
            />
            <h3>Developers</h3>
            <p>Software engineers, programmers and architects experienced across hundreds of technologies.</p>
            <svg height='10.547' viewBox='0 0 13.047 10.547' width='13.047' xmlns='http://www.w3.org/2000/svg'><path
                d='m12.369 9.6h-9.744a.625.625 0 1 1 0-1.25h9.744l-3.313-3.308a.625.625 0 1 1 .887-.875l4.375 4.375a.625.625 0 0 1 0 .875l-4.374 4.375a.625.625 0 0 1 -.887-.875z'
                fill='#198cca'
                stroke='#198cca'
                stroke-width='.5'
                transform='translate(-1.75 -3.69)'
              ></path></svg>
          </div>
        </a>
      </div>
      <div class='service-card'>
        <a href='https://adevait.com/designers'>
          <div class='talent-category'>
            <img
              src='https://adevait.com/img/assets/designers-v2.svg'
              loading='lazy'
              alt='Designers'
              title='Designers'
            />
            <h3>Designers</h3>
            <p>Exceptional UX, UI and interaction designers that will bring your project to the next level.</p>
            <svg height='10.547' viewBox='0 0 13.047 10.547' width='13.047' xmlns='http://www.w3.org/2000/svg'><path
                d='m12.369 9.6h-9.744a.625.625 0 1 1 0-1.25h9.744l-3.313-3.308a.625.625 0 1 1 .887-.875l4.375 4.375a.625.625 0 0 1 0 .875l-4.374 4.375a.625.625 0 0 1 -.887-.875z'
                fill='#198cca'
                stroke='#198cca'
                stroke-width='.5'
                transform='translate(-1.75 -3.69)'
              ></path></svg>
          </div>
        </a>
      </div>
      <div class='service-card'>
        <a href='https://adevait.com/qa'>
          <div class='talent-category'>
            <img src='https://adevait.com/img/assets/testers.svg' loading='lazy' alt='QA' title='QA Engineers' />
            <h3>QA</h3>
            <p>Seasoned QA automation engineers and manual QA engineers to verify your product.</p>
            <svg height='10.547' viewBox='0 0 13.047 10.547' width='13.047' xmlns='http://www.w3.org/2000/svg'><path
                d='m12.369 9.6h-9.744a.625.625 0 1 1 0-1.25h9.744l-3.313-3.308a.625.625 0 1 1 .887-.875l4.375 4.375a.625.625 0 0 1 0 .875l-4.374 4.375a.625.625 0 0 1 -.887-.875z'
                fill='#198cca'
                stroke='#198cca'
                stroke-width='.5'
                transform='translate(-1.75 -3.69)'
              ></path></svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>