<div class="our-tools">
  <div class="container">
    <h2>
      Tools of our trade
    </h2>
    <div class="marquee">
      <div class="tools-holder">
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/amazon-sqs.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Amazon SQS
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage
              @src="/assets/tools/amazon-web-services.png"
              loading="lazy"
              class="original-logo logo"
              alt="Sotheby's"
            />
          </div>
          <h3>
            AWS
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.android">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/android-os.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Android
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.angular-js">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/angularjs.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Angular
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/aws-lambda.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            AWS Lambda
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage
              @src="/assets/tools/binance-smart-chain.png"
              loading="lazy"
              class="original-logo logo"
              alt="Sotheby's"
            />
          </div>
          <h3>
            Binance Smart Chain
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/docker.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Docker
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/elastic.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Elastic
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/ember.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Ember
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/ethereum.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Ethereum
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/jenkins.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Jenkins
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/mongodb.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            MongoDB
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/mysql.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            MySQL
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.node-js">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/nodejs.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Node Js
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/postgresql.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            PostgreSQL
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.python">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/python.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Python
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/rabbitmq.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            RabbitMQ
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.react-js">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/react.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              React
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.react-native">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/react-native.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              React Native
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/redis.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Redis
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/serverless.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Serverless
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/spring-boot.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Spring Boot
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.swift">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/swift.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Swift
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.vue">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/vue-js.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Vue Js
            </h3>
          </LinkTo>
        </div>
      </div>
      <div class="tools-holder">
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/amazon-sqs.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Amazon SQS
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage
              @src="/assets/tools/amazon-web-services.png"
              loading="lazy"
              class="original-logo logo"
              alt="Sotheby's"
            />
          </div>
          <h3>
            AWS
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.android">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/android-os.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Android
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.angular-js">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/angularjs.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Angular
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/aws-lambda.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            AWS Lambda
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage
              @src="/assets/tools/binance-smart-chain.png"
              loading="lazy"
              class="original-logo logo"
              alt="Sotheby's"
            />
          </div>
          <h3>
            Binance Smart Chain
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/docker.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Docker
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/elastic.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Elastic
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/ember.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Ember
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/ethereum.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Ethereum
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/jenkins.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Jenkins
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/mongodb.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            MongoDB
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/mysql.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            MySQL
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.node-js">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/nodejs.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Node Js
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/postgresql.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            PostgreSQL
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.python">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/python.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Python
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/rabbitmq.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            RabbitMQ
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.react-js">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/react.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              React
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.react-native">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/react-native.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              React Native
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/redis.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Redis
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/serverless.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Serverless
          </h3>
        </div>
        <div class="tools-card">
          <div class="tools-logo-wrapper">
            <Common::AppImage @src="/assets/tools/spring-boot.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
          </div>
          <h3>
            Spring Boot
          </h3>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.swift">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/swift.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Swift
            </h3>
          </LinkTo>
        </div>
        <div class="tools-card">
          <LinkTo @route="technologies.vue">
            <div class="tools-logo-wrapper">
              <Common::AppImage @src="/assets/tools/vue-js.png" loading="lazy" class="original-logo logo" alt="Sotheby's" />
            </div>
            <h3 class="text-black">
              Vue Js
            </h3>
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>