<button type="button" class="video-button" {{on 'click' @onClick}}>
  <div class="button-icon">
    <img src="/assets/svgs/play-button.svg" height="100%" width="100%" alt="button icon" />
  </div>
  Watch Video
</button>