<Header />
<div class='app-container'>
  <AboutUs::HeroSection />
  <AboutUs::OurStory />
  <AboutUs::WhoWeAre />
  <AboutUs::MeetOurFounders />
  <AboutUs::WeBelieve />
  <Homepage::HireUs />
  <Footer />
</div>