.contact-hero {
  height: calc(82vh - 52px);
  padding: 80px 0;
  max-height: 380px;
  margin-bottom: 80px;
}

.contact-hero .section-title {
  font-size: 36px;
  line-height: 59px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #1a284d;
}
