.contact-hero {
  padding: 160px 30px 50px 30px;
  max-height: 380px;
  margin-bottom: 80px;
  max-width: 666px;
  margin-left: auto;
  margin-right: auto;
}

.contact-hero .section-title {
  font-size: 36px;
  line-height: 59px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #1a284d;
}
