.aiDevelopment-heroSectionContainer {
  margin-top: 69px;
  padding: 110px 20px;
  background-image: url('/assets/ai-development/heroSection-bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.aiDevelopment-heroSectionContainer h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.aiDevelopment-heroSectionContainer p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  max-width: 745px;
}

.aiDevelopment-heroSectionContainer button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 145.5%;
  padding: 19px 55.5px 20px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #24b768;
  border-radius: 3px;
}

.aiDevelopment-heroSectionContainer button:hover {
  background: #24b768;
}

@media only screen and (max-width: 1290px) and (min-width: 360px) {
  .aiDevelopment-heroSectionContainer {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 450px) {
  .aiDevelopment-heroSectionContainer button {
    padding: 16px 48px;
    font-size: 12.0824px;
  }
}
