<section class='px-6 py-10 sm:py-24 sm:px-16 xl:p-24 bg-[#f4f4f4]'>
  <div class='max-w-[1400px] mx-auto'>
    <h3 class='text-2xl sm:text-3xl text-center font-semibold'>Discover Our Extensive Range of AI Solutions</h3>
    <div class='flex flex-wrap gap-x-8 gap-y-12 justify-center mt-14'>
      <div class='p-8 border-solid border-2 border-slate-200 rounded-md shadow-xl max-w-[400px] bg-white'>
        <a href='/solutions/ai-chatbot' class='cursor-pointer hover:underline font-medium text-[#016aba]'>AI
          Conversational Chatbot</a>
        <p class='text-sm mb-0 mt-2'>Boost customer experience and streamline operations with our 24/7 accessible AI
          Conversational Bot.</p>
      </div>
      <div class='p-8 border-solid border-2 border-slate-200 rounded-md shadow-xl max-w-[400px] bg-white'>
        <a href='/solutions/ai-discovery' class='cursor-pointer hover:underline font-medium text-[#016aba]'>AI Discovery</a>
        <p class='text-sm mb-0 mt-2'>Essential initial phase for businesses to explore, understand, and integrate AI
          into operations, guiding seamless innovation integration.</p>
      </div>
      <div class='p-8 border-solid border-2 border-slate-200 rounded-md shadow-xl max-w-[400px] bg-white'>
        <a href='/solutions/search-gpt' class='cursor-pointer hover:underline font-medium text-[#016aba]'>SearchGPT</a>
        <p class='text-sm mb-0 mt-2'>Our advanced AI powered document management streamline your workflow, enhance
          efficiency, and unlock unparalleled insights with advanced tools tailored to your needs. Transform the way you
          manage documents with innovative document solutions and propel your business forward with confidence.</p>
      </div>
      <div class='p-8 border-solid border-2 border-slate-200 rounded-md shadow-xl max-w-[400px] bg-white'>
        <a
          href='/solutions/customer-behavior-analysis-tool'
          class='cursor-pointer hover:underline font-medium text-[#016aba]'
        >Customer Behavior Analysis Tool</a>
        <p class='text-sm mb-0 mt-2'>Enhance customer experience with our AI Customer Insights and streamline engagement
          with our advanced AI-Driven Behavior Analysis Tool, leveraging AI and ML algorithms for precise customer
          behavior analysis.</p>
      </div>
      <div class='p-8 border-solid border-2 border-slate-200 rounded-md shadow-xl max-w-[400px] bg-white'>
        <a href='/solutions/ai-stock-predictor' class='cursor-pointer hover:underline font-medium text-[#016aba]'>AI
          Stock Predictor</a>
        <p class='text-sm mb-0 mt-2'>Revolutionize your investment decisions with our daily AI financial forecasting
          service. Take the help of advanced algorithms for precise predictions, ensuring informed and confident
          investment choices.</p>
      </div>
      <div class='p-8 border-solid border-2 border-slate-200 rounded-md shadow-xl max-w-[400px] bg-white'>
        <a href='/solutions/ai-credit-scoring' class='cursor-pointer hover:underline font-medium text-[#016aba]'>AI
          Credit Scoring</a>
        <p class='text-sm mb-0 mt-2'>Transform credit scoring with our advanced AI. Our system offers precise
          predictions and thorough risk analysis, empowering confident lending decisions.</p>
      </div>
    </div>
  </div>
</section>