<div class='write'>
  <div style='overflow: hidden;'>
    <Common::AppImage @src='/assets/images/yellow_ellipse.png' class='yellowEllipse' />
  </div>

  <section class='container-fluid pre-footer-wrap dark-blue-bg writeUs'>
    <div class='row'>
      <div class='container'>
        <div class='global-comm-wrap'>
          <h2>
            Did not find your profile?
          </h2>
          <p>
            Don’t worry, write to us at hiring@primathon.in and we will get back to you.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>