<div class='app-container'>
  <CaseStudies::Poster />
  <CaseStudies::Post />
  <Services::ToolsOfTrades />
  <Services::WeAreTrusted />
  <Homepage::HireUs @isModal={{true}} />
  <Services::BrowseThroughServices @activeService={{0}} />
  <Footer />
</div>