<div class='app-container'>
  <CaseStudies::Poster />
  <CaseStudies::Post />
  <Services::ToolsOfTrades />
  <Services::WeAreTrusted />
  <Homepage::HireUs />
  <Services::BrowseThroughServices @activeService={{0}} />
  <Homepage::Footer />
</div>