<section class='faq-list-section services-responsive-container'>
  <h2>{{@title}}</h2>
  <div>
    {{#each @data as |data|}}
      <details>
        <summary>
          {{data.question}}
          <img class='up-down-icon' src='/assets/svgs/down.svg' height='20px' width='20px' alt='button icon' />
        </summary>
        <p> {{data.answer}}</p>
      </details>
    {{/each}}
  </div>
</section>