<section class="section-common our-story-section">
  <div class="responsive-container">
    <h2 class="about-us-heading">
      Our Story
    </h2>
    <p class="about-us-para">
      From our Founders to our Team members, each of us is a graduate of one of India's best universities, which is ranked in the top 50 globally. We regard our work as art and are enthusiastic about all that we craft. With the finest skills and potential to make your projects our ardor and be your partners in growth, our team of talented individuals help you deliver the best.
We have an eye for
      <b>
        detail
      </b>
      and a knack for
      <b>
        perfection
      </b>
      .
    </p>
  </div>
</section>