.node-js-heroSectionContainer {
  margin-top: 69px;
  padding: 110px 20px;
  background-image: url('/assets/node-js/heroSection-bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
