<Container class='case-studies-poster'>
  <h1 class="heading">
    Case Studies
  </h1>
  <p class='description'>
    Over the course of recent years, our tech experts supported dozens of companies across various markets and
    industries. Read these stories and learn, what they can do for your business.
  </p>
</Container>