<Container class="case-studies-poster">
  <h2>
    Case Studies
  </h2>
  <p class="phone">
    We have had the opportunity to work on projects from multiple industries and markets.
  </p>
  <p class="desktop">
    We have had the opportunity to work on projects from
    <b>
      multiple industries
    </b>
    and
    <b>
      markets.
    </b>
    Read our case studies to learn more about how we work, the thought that goes into each project stage, and our unwavering commitment to solving even the most difficult challenges.
  </p>
</Container>
<div class="case-studies-poster-ring">
  <img src="/assets/images/green-circle.png" alt="green ellipse" />
</div>