<Header />
<div class='app-container'>
  <Emberjs::EmberHeroSection @hero={{@data.heroSection}} />
  <Emberjs::EmberOffer @offer={{@data.emberOffer}} />
  <Emberjs::EmberWork @work={{@data.emberWork}} />
  <Services::WeAreTrusted />
  <Homepage::HireUs @sameLink={{true}} />
  <Footer />
</div>