<section class="developer-services-section services-responsive-container">
  <h2>
    Our Dedicated Developers can help you with
  </h2>
  <ul>
    <li>
      <h3>
        Dashboard and Data visualization
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/dashboard.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          Dashboard and data visualization is a tool that monitors, analyses, and displays key performance indicators (KPIs), metrics, and key data points.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        Shopify Stores
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/shopify.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          Shopify is an e-commerce platform that allows you to create online shopping websites and start selling your products without any hassle.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        Booking Platform
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/book-platform.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          An online booking system is a software solution that allows potential guests to self-book and pay through your website and other channels.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        Admin Panels and CMS
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/cms.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          It's a tool that gives you access to common administrative operations, server information, project updates. It gives you the access to monitor and update your website.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        Web and Mobile Applications
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/web-app.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          It is the method through which programmers build apps for smartphones, tablets, and other platforms- IOS Apps, Android Apps, and Web Apps.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        AI/ML based Recommendation Engines
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/ml-ai.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          With the help of  AI, your recommendation engines can make quick and to-the-point recommendations tailored to each customer's needs and preferences.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        ERC20 Tokens
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/erc-20.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          On the Ethereum blockchain, an ERC20 token is a standard for creating and issuing smart contracts.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
    <li>
      <h3>
        Smart Contract
      </h3>
      <div class="image-para">
        <img
          src="/assets/images/smart-contract.png"
          alt="Dashboard and data visualization"
          class="developer-services-section-img"
        />
        <p class="left">
          Smart contracts are programmes that run when certain criteria are satisfied and are maintained on a blockchain. They're usually used to automate the execution of an agreement to save time.
        </p>
      </div>
      {{! <LinkTo class="link" @route="index">
        Projects
      </LinkTo> }}
    </li>
  </ul>
</section>