<div class="emberJsOffer">
<div class='how-we-build-our-team services-responsive-container'>
  <h2>
    How we build our team?
  </h2>
  <ul>
    <li>
      <div class='image'>
        <Common::AppImage @src='/assets/images/person-presentation.png' alt='Identify best talent' />
      </div>
      <div class='how-we-build-our-team__middle'>
        <div class='how-we-build-our-team__no-line'></div>
        <div class='how-we-build-our-team__dot'></div>
        <div class='how-we-build-our-team__dotted-line'></div>
      </div>
      <p>
        {{@offer.0.value}}
      </p>
    </li>
    <li class='reverse-row'>
      <div class='image'>
        <Common::AppImage @src='/assets/images/destop-code.png' alt='We give training' />
      </div>
      <div class='how-we-build-our-team__middle'>
        <div class='how-we-build-our-team__dotted-line'></div>
        <div class='how-we-build-our-team__dot'></div>
        <div class='how-we-build-our-team__dotted-line'></div>
      </div>
      <p>
        {{@offer.1.value}}
      </p>
    </li>
    <li>
      <div class='image'>
        <Common::AppImage @src='/assets/emberjs/phone.svg' alt='Give them hands on expertise' />
      </div>
      <div class='how-we-build-our-team__middle'>
        <div class='how-we-build-our-team__dotted-line'></div>
        <div class='how-we-build-our-team__dot'></div>
        <div class='how-we-build-our-team__dotted-line'></div>
      </div>
      <p>
        {{@offer.2.value}}
      </p>
    </li>
    <li class='reverse-row'>
      <div class='image'>
        <Common::AppImage @src='/assets/images/arrow-target.png' alt='They share their talents' />
      </div>
      <div class='how-we-build-our-team__middle'>
        <div class='how-we-build-our-team__dotted-line'></div>
        <div class='how-we-build-our-team__dot'></div>
        <div class='how-we-build-our-team__no-line'></div>
      </div>
      <p>
        {{@offer.3.value}}
      </p>
    </li>
  </ul>
</div>
</div>
