<section class="who-we-are-section">
  <div class="responsive-container">
    <h2 class="about-us-heading">
      Who We are
    </h2>
    <p class="about-us-para">
      Our objective is to bring a revolution to the tech industry, and in order to accomplish this, each member of our team must share the same vision, passion, and enthusiasm. We stand by our core values, they will always remind us of  who we are, who we want to be, and where we want to go.
    </p>
    <div class="who-we-are-qualities">
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/customer-obsession.png" alt="customer obsession" />
        <figcaption class="who-we-are-caption">
          Customer Obsession
        </figcaption>
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/ownership.png" alt="customer obsession" />
        <figcaption class="who-we-are-caption">
          Ownership
        </figcaption>
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/innovation.png" alt="customer obsession" />
        <figcaption class="who-we-are-caption">
          Innovation
        </figcaption>
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/inspiration.png" alt="customer obsession" />
        <figcaption class="who-we-are-caption">
          Inspiration
        </figcaption>
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/growth.png" alt="customer obsession" />
        <figcaption class="who-we-are-caption">
          Growth Driven
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="who-we-are-red-ring">
    <Common::AppImage @src="/assets/images/red-ellipse.png" alt="red ellipse" />
  </div>
</section>