<section class="who-we-are-section">
  <div class="responsive-container">
    <h2 class="about-us-heading">
      How we build our team?
    </h2>
    <div class="who-we-are-qualities">
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/arrow.png" alt="arrow icon" />
        Identify the best talent
with 2+ years of experience
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/train.png" alt="train icon" />
        We Train them by following
 on-going training methodology
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/desktop.png" alt="desktop icon" />
        Give them hands on expertise with our in-house projects
      </figure>
      <figure class="who-we-are-figure">
        <Common::AppImage class="who-we-are-img" @src="/assets/images/check.png" alt="check icon" />
        They share their talents and add value to your buisness
      </figure>
    </div>
  </div>
  {{! <div class="who-we-are-red-ring"></div> }}
</section>