<Services::HeroSection>
<div class="template-hero-section">
    <h1>{{@heading}}</h1>
    <p>{{@subHeading}}</p>
    <div class="specification-wrapper">
        <span class="specification">
            <span class="color-text">100+</span>
            <span>Qualified Professionals</span>
        </span>
        <span class="specification">
            <span class="color-text">7000+</span>
            <span>Clients</span>
        </span>
        <span class="specification">
            <span class="color-text">9+</span>
            <span>Years of Experience</span>
        </span>
    </div>
    <button class="btn">get rate card in your inbox</button>
    <button class="chat-btn">Chat with us</button>
</div>
</Services::HeroSection>
