<Services::HeroSection>
  <div class="services-staff-augmentation">
    <h1>
      Staff Augmentation
    </h1>
    <h2>
      The
      <b>
        fastest,
      </b>
      most
      <b>
        reliable
      </b>
      and
      <b>
        costs effective
      </b>
      way to scale up your team!
    </h2>
    <p>
      Staff augmentation is an outsourcing technique that involves acquiring qualified technical employees from outside your company. It enables businesses to select only those candidates who meet their needs and to downsize or expand their augmented teams as needed.
    </p>
    <p>
      It helps businesses to get an extra set of
      <b>
        experienced hands
      </b>
      for when they need it the most.
    </p>
  </div>
</Services::HeroSection>