<section class="our-story-section meet-our-founders">
  <div class="we-are-trusted-responsive-container">
    <h2 class="we-are-trusted-heading">
      We are trusted by
      <span class="bold">
        45+ Companies
      </span>
      Globally
    </h2>
    <div class="image-container">
      <div class="we-are-trusted-figures">
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/freshworks.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Freshworks
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/exl.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            EXL
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/cocacola.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Coca Cola
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/reliance-capital.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Reliance Capital
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/crypterns.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Crypterns
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/pubLaunch.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            PubLaunch
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/ahf.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            AHF
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/bis-research.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Bis Research
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/fcm.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            FCM
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/graphcms.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Graphcms
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/usercentrics.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Usercentrics
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/piramal.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Piramal
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/sotheby.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Sotheby’s
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/paxful.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Paxful
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/bloom.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Bloom
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/stockal.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Stockal
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/appsmith.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            App Smith
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/fasoos.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Fasoos
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients/epifi.svg" alt="customer obsession" />
          {{! <img class="who-we-are-img" src="/assets/clients-png/epifi.png" alt="customer obsession" /> }}
          <figcaption class="we-are-trusted-caption">
            Epifi
          </figcaption>
        </figure>
      </div>
      <div class="we-are-trusted-figures">
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/freshworks.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Freshworks
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/exl.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            EXL
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/cocacola.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Coca Cola
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/reliance-capital.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Reliance Capital
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/crypterns.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Crypterns
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/pubLaunch.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            PubLaunch
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/ahf.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            AFH
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/bis-research.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Bis Research
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/fcm.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            FCM
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/graphcms.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Graphcms
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/usercentrics.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Usercentrics
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/piramal.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Piramal
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/sotheby.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Sotheby’s
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/paxful.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Paxful
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/bloom.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Bloom
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/stockal.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Stockal
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/appsmith.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            App Smith
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/fasoos.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Fasoos
          </figcaption>
        </figure>
        <figure class="tools-of-trade-figure">
          <img class="who-we-are-img" src="/assets/clients-png/epifi.png" alt="customer obsession" />
          <figcaption class="we-are-trusted-caption">
            Epify
          </figcaption>
        </figure>
      </div>
    </div>
    <p class="about-us-para4">
      {{! Read Case Studies }}
    </p>
  </div>
</section>