<Header />
<div class="app-container">
  <Services::HeroStaffAugmentation />
  <Services::CircularList @content={{this.circular_list_content}} />
  <Services::LinearList />
  <Services::TopNotchTalent />
  <Services::ArrowList @content={{this.arrow_list_content}} />
  <Services::ToolsOfTrades />
  <Services::WeAreTrusted />
  <Homepage::HireUs />
  <Services::BrowseThroughServices />
  <Homepage::Footer />
</div>