.career-feature .reason {
  margin: 70px 0px;
  background: #f4f4f4;
  position: relative;
}

.reason h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin: auto 30px;
  color: #1a284d;
  padding: 38px 0px;
}

.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #1a284d;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 20px;
}

.feature {
  display: flex;
  flex-direction: row;
  padding: 0px 2rem;
}
.feature .desc {
  display: grid;
  grid-template-rows: 1.2fr 1fr 1fr;
  margin-left: 4rem;
  margin-right: 4rem;
}

.feature img {
  margin: auto;
}
.feature-image {
  height: 33%;
}

.feature p:last-child {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .feature {
    flex-direction: column;
  }
  .reason {
    margin-left: 5%;
    padding: 15px;
  }
  .feature .desc{
    grid-template-rows: 1fr 1.3fr;
  }

  .feature p:last-child {
    display: none;
  }
}
