.career-feature .reason {
  margin: 70px 0px;
  background: #f4f4f4;
  position: relative;
}

.reason h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin: auto 30px;
  color: #1a284d;
  padding: 38px 0px;
}

.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #1a284d;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 10px;
}

.feature {
  display: flex;
  flex-direction: row;
}

.feature img {
  margin: auto;
}

.feature p:last-child {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .feature {
    flex-direction: column;
  }
  .reason {
    margin-left: 5%;
    padding: 15px;
  }
}
