.case-studies-poster {
  padding-top: 84px;
  padding-bottom: 36px;
  background-image: url('/assets/caseStudy/CaseStudyPoster.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.case-studies-poster .container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.case-studies-poster .heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  margin: 0 0 14px;
}

.case-studies-poster .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 1024px) {
  .case-studies-poster {
    padding-top: 149px;
    padding-bottom: 80px;
    padding-left: 0px;
  }
  .case-studies-poster .container {
    padding: 15px;
  }

  .case-studies-poster .heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
    margin: 0 0 27px;
  }

  .case-studies-poster .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
