<Services::HeroSection>
  <div class="services-staff-augmentation">
    <h1>
      Build and Manage
    </h1>
    <h2>
      Get the best
      <b>
        management
      </b>
      and
      <b>
        value driven technology
      </b>
      aiming at digitally transforming your business!
    </h2>
  </div>
</Services::HeroSection>