<section class='challenge-services-container'>
  <section class='left-part'>
    <div class='challenge-portion'>
      <p class='challenge-heading'>The Challenge</p>
      <p class='challenge-description'>The Client approached us with an exciting challenge: we needed to implement
        solutions that would appeal to a modern customer, while keeping in mind business objectives regarding
        scalability. This meant that any product created for the client would have to be as self-sufficient as possible,
        with minimal maintenance down the line.
      </p>
    </div>
    <div class='brief-portion'>
      <p class='brief-heading'>Our brief was to:</p>
      <ul class='brief-points'>
        <li>Create a responsive platform that would appeal to younger audiences both in terms of functionality and
          aesthetics</li>
        <li>Ensure CMS integration</li>
        <li>Develop a hassle-free booking mechanism</li>
        <li>Integrate a payments processing system</li>
      </ul>
    </div>
  </section>
  <section class='right-part'>
    <section class='time-location'>
      <p class='time-heading'>Time & Location</p>
      <section class='time-content'>
        <section class='months-section'>
          <img src='/assets/svgs/monthsLogo.svg' alt='monthLogo' />
          <span class='no-of-months'>5&nbsp;Months</span>
        </section>
        <section class='country-section'>
          <img src='/assets/svgs/countryLogo.svg' alt='countryLogo' />
          <span class='country'>India</span>
        </section>
      </section>
    </section>

    <section class='services-provided-desktop'>
      <span class='services-heading'>Service provided</span>
      <section class='all-services'>
        <div class='service service-one'>
          <img src='/assets/svgs/BusinessProcesses.svg' alt='image' />
          <span class='service-name'>Business Processes Optimising</span>
        </div>
        <div class='service service-two'>
          <img src='/assets/svgs/WebDevelopmentLogo.svg' alt='image' />
          <span class='service-name'>Web Development</span>
        </div>
        <div class='service service-three'>
          <img src='/assets/svgs/uxLogo.svg' alt='image' />
          <span class='service-name'>UX/UI Design</span>
        </div>
      </section>
    </section>

    <section class='services-provided-mobile'>
      <span class='services-heading-mobile'>Service provided</span>
      <section class='all-services-mobile'>
        <div class='service-mobile mobile-one'>
          <img src='/assets/svgs/BusinessProcesses.svg' alt='image' />
          <span class='service-name'>Business Processes Optimising</span>
        </div>
        <section class='mobile-second-third'>
          <div class='service-mobile mobile-two'>
            <img src='/assets/svgs/WebDevelopmentLogo.svg' alt='image' />
            <span class='service-name'>Web Development</span>
          </div>
          <div class='service-mobile mobile-three'>
            <img src='/assets/svgs/uxLogo.svg' alt='image' />
            <span class='service-name'>UX/UI Design</span>
          </div>
        </section>
      </section>
    </section>

    <section class='technology-used'>
      <span class='technologies-heading'>
        Technology Used
      </span>
      <section class='all-technologies-logos'>
        <div class='logo'>
          <img src='/assets/caseStudy/angular.png' alt='angular' />
          <span class='technology-name'>Angular</span>
        </div>
        <div class='logo'>
          <img src='/assets/caseStudy/nodejs.png' alt='nodejs' />
          <span class='technology-name'>Node Js</span>
        </div>
        <div class='logo'>
          <img src='/assets/caseStudy/mysql.png' alt='mysql' />
          <span class='technology-name'>MySQL</span>
        </div>
        <div class='logo'>
          <img src='/assets/caseStudy/redis.png' alt='redis' />
          <span class='technology-name'>Redis</span>
        </div>
        <div class='logo'>
          <img src='/assets/caseStudy/s3.png' alt='s3' />
          <span class='technology-name'>S3</span>
        </div>
      </section>
    </section>
  </section>
</section>