<p class='text-center mt-40 text-4xl font-weight-500 mb-8'>{{@data.title}}</p>
<div class="max-w-[1400px] px-6 py-10 sm:p-10 md:p-0 mx-auto flex justify-center">
  <div class='flex flex-wrap gap-4 flex-row mt-4'>
    {{#each @data.data as |item|}}
      <div class='w-[300px] relative'>
        <img src='{{item.image}}' alt='arrow-image' />
        <h3 class='text-lg font-bold absolute left-5 top-14 text-white'>{{item.subTitle}}</h3>
        <p class='text-[#2E2E2E] mt-5 text-lg'>{{item.description}}</p>
      </div>
    {{/each}}
  </div>
</div>