<section class='result-container'>
  <section class='left-part-result'>
    <p class='result-heading'>
      {{@result.title}}
    </p>
    <p class='result-description'>
      {{@result.description}}
    </p>
  </section>
  <section class='right-part-result-desktop'>
    <img src={{@result.image}} alt='caseStudyResultImage' />
  </section>
</section>