<section class="our-story-section meet-our-founders">
  <div class="responsive-container">
    <h2 class="about-us-heading">
      Meet our Team
    </h2>
    <p class="about-us-para">
      The first step towards creating good products is having a good team, we are proud of the fact that our founders and advisors have a combined experience of 50+ years in technology, product growth and management domain. We know we are always moving in the right direction under such expectional mentorship.
    </p>
    <div class="who-we-are-qualities1">
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-1.jpg" alt="customer obsession" />
        <figcaption class="who-we-are-caption1">
          Sagar Patidar
        </figcaption>
        <figcaption class="who-we-are-caption2">
          CEO | IIT-Delhi, Ex-Rivigo
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-4.jpeg" alt="customer obsession" />
        <figcaption class="who-we-are-caption1">
          Aamir Mojeeb
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Founding Team | IIT Delhi
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-6.png" alt="customer obsession" />
        <figcaption class="who-we-are-caption1">
          Ramvishvas Kumar
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Co-Founder | NIT - Calicut
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-5.jpg" alt="Alfredo Grimes" />
        <figcaption class="who-we-are-caption1">
          Mahaveer Chouhan
        </figcaption>
        <figcaption class="who-we-are-caption2">
         Co-Founder | NIT - Calicut
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-13.jpg" alt="Duane Swift" />
        <figcaption class="who-we-are-caption1">
          Vijay Palod
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Mobile Lead | Ex-Capgemini, Ex-Accenture
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-7.jpg" alt="Gerald Halvorson" />
        <figcaption class="who-we-are-caption1">
          Zaid Hasan
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Backend Lead | Ex-Wipro
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-2.jpg" alt="customer obsession" />
        <figcaption class="who-we-are-caption1">
          Yashveer Tyagi
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Head of Business Strategy | Ex-UrbanCompany
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-10.jpg" alt="customer obsession" />
        <figcaption class="who-we-are-caption1">
          Yasoob Haider
        </figcaption>
        <figcaption class="who-we-are-caption2">
          AI/ML Expert | IIT-Delhi, Zomato
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-3.jpg" alt="Gerald Halvorson" />
        <figcaption class="who-we-are-caption1">
          Shweta Nayyer
        </figcaption>
        <figcaption class="who-we-are-caption2">
          HR Manager | MBA - Symbiosis (IT & HR)
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-12.jpg" alt="Gerald Halvorson" />
        <figcaption class="who-we-are-caption1">
          Dev Sharma
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Overseas Partner - Canada
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-9.jpg" alt="Gerald Halvorson" />
        <figcaption class="who-we-are-caption1">
          Rhythm Gupta
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Advisor - Product | IIT-Delhi, EasyEat
        </figcaption>
      </figure>
      <figure class="who-we-are-figure1">
        <Common::AppImage class="founders-image-we-believe" @src="/assets/team/team-8.jpg" alt="Gerald Halvorson" />
        <figcaption class="who-we-are-caption1">
          Abdul Khalid
        </figcaption>
        <figcaption class="who-we-are-caption2">
          Advisor - Technology | IIT-Delhi, Ex-Delhivery
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="who-we-are-green-ring"></div>
</section>
