.services-hero {
  background-image: url('/assets/images/staff-augmentation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 68px;
  padding-bottom: 68px;
  overflow: hidden;
}

.bg-booking {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/booking-platform.png');
}

.bg-shopify {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/shopify.png');
}

.bg-dashboard {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/dashboard.png');
}

.bg-admin {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/admin-pannel.png');
}

.bg-appdevelopment {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/web-mobile-application.png');
}

.bg-aiml {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/aiml.png');
}

.bg-contract {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/smart-contract.png');
}

.bg-erc {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/end-to-end-services/erc-20.png');
}

.bg-frontend {
  background-image: url('/assets/staff-augmentation-bg/frontend.png');
}

.bg-backend {
  background-image: url('/assets/staff-augmentation-bg/backend.png');
}

.bg-qa {
  background-image: url('/assets/staff-augmentation-bg/qa.png');
}

.bg-android {
  background-image: url('/assets/staff-augmentation-bg/android.png');
}

.bg-platform {
  background-image: url('/assets/staff-augmentation-bg/platform.png');
}

.bg-product {
  background-image: url('/assets/staff-augmentation-bg/product.png');
}

.bg-uiux {
  background-image: url('/assets/staff-augmentation-bg/uiux.png');
}

.services-staff-augmentation {
  font-family: Poppins;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 48px;
}

.services-staff-augmentation h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 64px;
}

.services-staff-augmentation h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 38px;
}

.services-staff-augmentation p {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
