<div class='chatgpt-getStartedContainer'>
  <div class='chatgpt-getStartedHeadingContainer'>
    <h1>
      {{@gettingStarted.title}}
      <span>{{@gettingStarted.subTitle}}</span>
    </h1>
  </div>

  <div class='chatgpt-getStartedCardContainer'>
    {{#each @gettingStarted.cardData as |card|}}
    <div class='chatgpt-getStartedCard'>
      <h1>{{card.cardTitle}}</h1>
      <p>
        {{card.content}}
      </p>
    </div>
    {{/each}}
  </div>

  <img class="chatgpt-redCircle" src="/assets/chatgpt/redCircle.png">
</div>