<div class="chatgpt-introductionContainer">
    <div class="chatgpt-introductionTextContainer">
        <p>
            <span>{{@intro.heading}}</span>
            {{#each @intro.content as |item|}}
            {{item}}
            <br><br>
            {{/each}}
        </p>
        <a href={{@intro.buttonLink}}><button>{{@intro.buttonText}}</button></a>
    </div>
    <div class="chatgpt-introductionImageContainer">
        <Common::AppImage @src="/assets/chatgpt/introductionLaptop.png" height="100%" width="100%" />
    </div>
</div>