<div class="chatgpt-serviceContainer">
    <div class="chatgpt-serviceHeadingContainer">
        <h1>Services provided by Primathon with <span>ChatGPT</span></h1>
    </div>

    <div class="chatgpt-serviceCardContainer">
        {{#each @services.cardData as |service|}}
        <div class="chatgpt-serviceCard">
            <img src={{service.imageSrc}} />
            <p>{{service.content}}</p>
        </div>
        {{/each}}
    </div>
</div>