.chatgpt-benefitsSection {
  background: #1a284d;
  padding: 100px 0px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chatgpt-benefitsSection .headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chatgpt-benefitsSection .description {
  width: 50vw;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #e0e0e0;
}

.chatgpt-benefitsSection .headingContainer .heading {
  color: white;
  text-align: center;
  letter-spacing: -1px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.chatgpt-benefitsSection .headingContainer span {
  color: #24b768;
}

.chatgpt-benefitsSection .cardContainer {
  margin: 10px auto;
  max-width: 1400px;
}

.chatgpt-benefitsSection .cardContainer .cards {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 30px; */
  column-gap: 48px;
  row-gap: 45px;
  justify-content: center;
}

.chatgpt-benefitsSection .cardContainer .card {
  display: flex;
  padding: 30px 20px;
  width: 380px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 20px; */
}

.chatgpt-benefitsSection .cardContainer .card .icon img {
  height: 60px;
  width: 60px;
}

.chatgpt-benefitsSection .cardContainer .card .cardHeading h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
}

.chatgpt-benefitsSection .cardContainer .card .cardContent p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150.5%;
  color: #ffffff;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .chatgpt-benefitsSection {
    padding: 53px 25px 80px;
  }
}

@media only screen and (max-width: 1465px) {
  .chatgpt-benefitsSection .cardContainer .cards {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1350px) {
  .chatgpt-benefitsSection .cardContainer .cards {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .chatgpt-benefitsSection .description {
    width: 90vw;
  }
}

@media only screen and (max-width: 450px) {
  .chatgpt-benefitsSection .cardContainer {
    width: 90vw;
  }
  .chatgpt-benefitsSection .cardContainer {
    margin: 0;
  }
  .chatgpt-benefitsSection .cardContainer .card .icon img {
    height: 55px;
    width: 55px;
  }
  .chatgpt-benefitsSection .cardContainer .card .cardHeading h3 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 370px) {
  .chatgpt-benefitsSection .cardContainer .card {
    padding: 26px 17px;
    height: auto;
  }
  .chatgpt-benefitsSection .cardContainer .card .cardContent p {
    height: auto;
  }
}
