.chatgpt-benefitsSection {
  background: #1a284d;
  padding: 58px 0px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chatgpt-benefitsSection .headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chatgpt-benefitsSection .description{
  width: 50vw;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #E0E0E0;
  
}

.chatgpt-benefitsSection .headingContainer .heading {
  color: white;
  text-align: center;
  letter-spacing: -1px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.chatgpt-benefitsSection .headingContainer span {
  color: #24b768;
}

.chatgpt-benefitsSection .cardContainer {
  margin: 5px 40px;
}

.chatgpt-benefitsSection .cardContainer .cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.chatgpt-benefitsSection .cardContainer .card {
  display: flex;
  padding: 30px 20px;
  width: 410px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.chatgpt-benefitsSection .cardContainer .card .icon img {
  height: 63px;
}

.chatgpt-benefitsSection .cardContainer .card .cardHeading h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
}

.chatgpt-benefitsSection .cardContainer .card .cardContent p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150.5%;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .chatgpt-benefitsSection {
    padding: 53px 25px 80px;
  }
}

@media only screen and (max-width: 1465px) {
  .chatgpt-benefitsSection .cardContainer .cards {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1435px) {
  .chatgpt-benefitsSection .cardContainer .cards {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .chatgpt-benefitsSection .description{
    width: 90vw;
  }
}


@media only screen and (max-width: 450px) {
  .chatgpt-benefitsSection .cardContainer {
    width: 90vw;
  }
  
}

@media only screen and (max-width: 370px) {
  .chatgpt-benefitsSection .cardContainer .card {
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .chatgpt-benefitsSection .cardContainer .card .cardContent p {
    height: auto;
  }
}
