.chatgpt-mainConatiner {
  padding: 30px 0px;
}

.chatgpt-mainConatiner .headingConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
}

.chatgpt-mainConatiner .headingConatiner .heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #1a284d;
}

.chatgpt-mainConatiner .headingConatiner .heading span {
  color: #24b768;
}

.accordion:hover {
  cursor: pointer;
}

.accordianMinus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a284d;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

.accordianPlus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24b768;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;

  color: #ffffff;
}

.chatgpt-mainConatiner .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatgpt-mainConatiner .cards .cardHeading {
  display: flex;
  justify-content: space-between;
}

.chatgpt-mainConatiner .card {
  background: #ffffff;
  outline: 0.4px solid #dcdcdc;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  padding: 15px 40px 15px;
  width: 64vw;
  margin-bottom: 25px;
}
.chatgpt-mainConatiner .card .cardHeading .imgheading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1a284d;
}
.chatgpt-mainConatiner .card .cardHeading .imgheading > p {
  margin-bottom: 0;
}

.chatgpt-mainConatiner .card .cardHeading .image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

.chatgpt-mainConatiner .card .cardContent {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #48596a;
  margin-top: 15px;
  overflow: hidden;
}

.moveDown {
  animation: moveDown 300ms linear;
}

.moveUp {
  animation: moveUp 50ms linear;
  max-height: 0;
}

@media only screen and (max-width: 450px) {
  .chatgpt-mainConatiner .card {
    width: 90vw;
    padding: 12.5px 25px;
  }
}

@keyframes moveDown {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 1000px;
  }
}

@keyframes moveUp {
  0% {
    max-height: 100px;
  }

  100% {
    max-height: 0px;
  }
}
