.chatgpt-devlopement-integration-sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 93.5px 231px;
  align-items: center;
  background: #f4f4f4;
  position: relative;
}

.chatgpt-devlopement-integration-sectionContainer h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #1a284d;
  text-align: center;
}

.chatgpt-devlopement-integration-sectionContainer h1 span {
  color: #24b768;
}

.chatgpt-devlopement-integration-sectionContainer p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

@media (max-width: 1024px) {
  .chatgpt-devlopement-integration-sectionContainer {
    padding: 53px 50px 40px;
  }
}