<section
  class='bg-center bg-cover bg-no-repeat'
  style="background-image: url('/assets/new-case-study/case-study-hero-img.png');"
>
  <div class='pb-72 pt-64'>
    <h1 class='font-semibold text-8xl text-white text-center mb-14'>
      bloom
    </h1>
    <p class='text-white px-7 text-base sm:text-xl max-w-[780px] mx-auto text-center'>
      Developed a High-Performance Comprehensive Booking Engine for the Top Hospitality Chain in India
    </p>
  </div>
</section>