<section
  class='cbg-cover bg-center relative'
  style="background-image: url('/assets/new-case-study/case-study-hero-img.png');"
>
  <div class='py-72'>
    <h1 class='font-semibold sm:text-5xl text-7xl text-white text-center mb-6'>
      bloom
    </h1>
    <p class='text-white px-7 text-lg md:text-base sm:text-sm max-w-[640px] mx-auto text-center'>
      Developed a High-Performance Comprehensive Booking Engine for the Top Hospitality Chain in India
    </p>
  </div>
</section>