<section
  class='bg-center bg-cover bg-no-repeat'
  style="background-image: url('/assets/bloom-case-study/case-study-hero-img.png');"
>
  <div class='pb-28 pt-40 md:pb-40 md:pt-44 px-6 sm:px-12'>
    <h1 class='font-semibold text-6xl sm:text-8xl text-white text-center mb-10 sm:mb-16'>
      bloom
    </h1>
    <p class='text-white text-lg sm:text-xl max-w-[710px] mx-auto text-center'>
      Developed a High-Performance Comprehensive Booking Engine for the Top Hospitality Chain in India
    </p>
  </div>
</section>