<section class="our-story-section meet-our-founders tools-of-trades-container">
  <div class="tools-of-trades-responsive-container">
    <h2 class="tools-of-trades-heading">
      Tools of our trade
    </h2>
    <div class="tools-of-trades-scroll-div">
      <div class="tools-of-trades-figures">
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/ethereum.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Ethereum
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/jenkins.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Jenkins
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/mongodb.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            MongoDB
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/mysql.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            MySQL
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/nodejs.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Node Js
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/postgresql.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            PostgreSQL
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/python.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Python
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/rabbitmq.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            RabbitMQ
          </figcaption>
        </div>
      </div>
      <div class="tools-of-trades-figures">
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/reactnative.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            React Native
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/redis.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Redis
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/serverless.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Serverless
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/springboot.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Spring Boot
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/swift.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Swift
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/vuejs.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Vue Js
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/amazonsqs.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Amazon SQS
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/aws.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            AWS
          </figcaption>
        </div>
      </div>
      <div class="tools-of-trades-figures">
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/angular.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Angular
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/awslamda.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            AWS Lambda
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/binance.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Binance Smart Chain
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/docker.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Docker
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/elastic.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Elastic
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/ember.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Ember
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/android.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            Android
          </figcaption>
        </div>
        <div class="tools-of-trades-figure">
          <img class="tools-of-trades-img" src="/assets/images/react.png" alt="customer obsession" />
          <figcaption class="tools-of-trades-caption">
            React
          </figcaption>
        </div>
      </div>
      <button type="button" {{on 'click' this.showNext}}>
        <img class="tools-of-trades-next-img" src="/assets/images/next.png" alt="customer obsession" />
      </button>
      <button type="button" {{on 'click' this.showPrevious}}>
        <img class="tools-of-trades-prev-img" src="/assets/images/prev.png" alt="customer obsession" />
      </button>
    </div>
  </div>
</section>