<div class="aiDevelopment-heroSectionContainer">
    <h1>{{@heroSection.title}}</h1>
    <p>{{@heroSection.subTitle}}</p>
    <button href={{@heroSection.redirect}}>{{@heroSection.buttonData}}</button>
</div>