<div class="aiDevelopment-heroSectionContainer" ...attributes>
    <h1>{{@heroSection.title}}</h1>
    <p>{{@heroSection.subTitle}}</p>
    <a href={{@heroSection.redirect}}><button>{{@heroSection.buttonData}}</button></a>
</div>