<Container class="career-poster">
  <h1>
    Careers at Primathon
  </h1>
  <h3>
    <span class="red">
      Learn.
    </span>
    <span class="green">
      Explore.
    </span>
    <span class="yellow">
      Grow.
    </span>
  </h3>
  <p class="phone">
    We believe that great work can only happen when you work with great people.
  </p>
</Container>
<div class="career-poster-ring">
  <img src="/assets/images/career-red-ring.png" alt="red ellipse" />
</div>