<div class='bg-[#323F60] px-6 sm:px-12 md:px-20 py-10'>
  <div class='max-w-[800px] flex flex-col sm:flex-row items-center gap-6 justify-between mx-auto'>
    <div class=''>
      <Common::AppImage @src='/assets/contact/sale.svg' alt='sale' title='sale' />
      <p class='text-lg font-semibold text-[#EEEEEE] mb-0'>Sales Inquiries</p>
      <a class='text-[#FFFFFF] text-xs block' href='tel:+1-3474164888'>+1-3474164888</a>
      <a class='text-[#FFFFFF] text-xs' href='mailto:aamir@primathon.co'>aamir@primathon.co</a>
    </div>
    <div>
      <Common::AppImage @src='/assets/contact/press.svg' alt='press' title='press' />
      <p class='text-lg font-semibold text-[#EEEEEE] mb-0'>Press</p>
      <a class='text-[#FFFFFF] text-xs' href='mailto:hello@primathon.co'>hello@primathon.co</a>
    </div>
    <div>
      <Common::AppImage @src='/assets/contact/partnership.svg' alt='partnership' title='partnership' />
      <p class='text-lg font-semibold text-[#EEEEEE] mb-0'>Partnerships</p>
      <a class='text-[#FFFFFF] text-xs' href='mailto:aamir@primathon.co'>aamir@primathon.co</a>
    </div>
  </div>
</div>