<section class='px-6 py-8 md:py-10 md:px-12 bg-[#F4F4F4]'>
  <div
    class='max-w-[1100px] mx-auto flex flex-col md:flex-row justify-center md:justify-between items-center gap-x-10 gap-y-4'
  >
    <div class='max-w-[700px]'>
      <h2 class='text-xl md:text-2xl text-center md:text-left text-[#F1553F] font-semibold'>Are you currently seeking
        job opportunities?</h2>
      <p class='mb-0 mt-1 text-xl text-center md:text-left'>We encourage you to explore our career page to find the
        perfect fit for you.</p>
    </div>
    <LinkTo
      @route='careers'
      class='rounded bg-[#24B768] font-medium text-white py-4 px-9'
      {{on 'click' (fn @trackEvent @eventName)}}
    >Explore Openings</LinkTo>
  </div>
</section>