<div class='container-fluid contact-wrapper'>
  <section class='container grid grid-box'>
    <div class='contact-details'>
      <Contact::ContactForm />
    </div>
    <div class='contact-sidebar'>
      <div class='sidebar-box'>
        <div class='mb-16 sidebar-details'>
          <div class='contact-label'>Sales Inquiries</div>
          <p><a class='contacts-link' href='tel:+91-9899637620' rel='noopener noreferrer'>+(91) 9899637620</a></p>
          <p>
            <a class='contact-link' href='mailto:yashveer@primathon.in' rel='noopener noreferrer'>
              yashveer@primathon.inm
            </a>
          </p>

        </div>

        <div class='mb-16 sidebar-details'>
          <div class='contact-label'>Press</div>
          <p>
            <a class='contact-link' href='mailto:hello@primathon.in' rel='noopener noreferrer'>
              hello@primathon.in
            </a>
          </p>
        </div>

        <div class='sidebar-details'>
          <div class='contact-label'>Partnerships</div>
          <p>
            <a class='contact-link' href='mailto:yashveer@primathon.in' rel='noopener noreferrer'>
              yashveer@primathon.in
            </a>
          </p>
        </div>
      </div>

      <div class='sidebar-box'>
        <div class='sidebar-details'>
          <div class='contact-inner address'>
            <div class='contact-label'>Address</div>
            <p>359/28, DLF Phase IV<br />Gurgaon, 122001, India.</p>
          </div>
        </div>
      </div>

      <hr />

      <div class='sidebar-box brand-assets'>
        <div class='sidebar-details'>
          <div class='contact-inner address'>
            <div class='contact-label'>Brand Assets</div>
            <p>Logos, screenshots, and more.</p>
            <a href='#'>Get them here&nbsp;&nbsp;
              <svg height='10.547' viewBox='0 0 13.047 10.547' width='13.047' xmlns='http://www.w3.org/2000/svg'>
                <path
                  d='m12.369 9.6h-9.744a.625.625 0 1 1 0-1.25h9.744l-3.313-3.308a.625.625 0 1 1 .887-.875l4.375 4.375a.625.625 0 0 1 0 .875l-4.374 4.375a.625.625 0 0 1 -.887-.875z'
                  fill='#198cca'
                  stroke='#198cca'
                  stroke-width='.5'
                  transform='translate(-1.75 -3.69)'
                >
                </path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>