<section class='lg:pb-20 max-w-[600px] lg:max-w-auto'>
  <div>
    <h1 class='text-5xl text-white mb-5'>Get in touch with Our Product Consultant</h1>
    <ul class='white-bullet-list-ul mt-5 gap-3'>
      <li class='text-base text-gray-100 text-left'>
        If you have an idea you want to bring to market
      </li>
      <li class='text-base text-gray-100 text-left'>
        Looking to hire a developer or designer on contractual basis
      </li>
      <li class='text-base text-gray-100 text-left'>
        Want to revamp your existing product
      </li>
      <li class='text-base text-gray-100 text-left'>
        Already have an AI idea and need guidance
      </li>
      <li class='text-base text-gray-100 text-left'>
        Have any other software development requirements
      </li>
    </ul>
    <div class='my-5'>
      <a
        href='https://calendly.com/amitkumar-singh-r994/30min'
        target='_blank'
        rel='noopener noreferrer'
        class='rounded bg-[#24B768] font-medium text-white py-2 px-3 flex gap-x-1 items-center w-max'
        {{on 'click' (fn @trackEvent @scheduleEventName)}}
      >
        <span class='icon-calender block w-5 h-5'></span>
        Schedule a meeting
      </a>
    </div>
    <div class='border border-dashed border-[#ACB9DD] max-w-[400px]'></div>
    <p class='text-lg text-gray-100 my-2'>Looking for a job? Apply Here.</p>
    <div class='mt-5'>
      <LinkTo
        @route='careers'
        class='rounded bg-[#FFFFFF] font-medium text-[#2F3B5C] py-2 px-4'
        {{on 'click' (fn @trackEvent @careerEventName)}}
      >
        For Career
      </LinkTo>
    </div>
  </div>
</section>