<section class='container contact-hero'>
  <div class='m-auto text-center'>
    <h1 class='section-title'>Get in touch</h1>
    <h2 class='section-sub'>
      Fill out the form below and a our representative will contact you as soon as possible. For immediate assistance,
      please call our sales line or email our customer support.
    </h2>
  </div>
</section>