<div class='px-6 sm:px-12 lg:px-20 py-16'>
  <h2 class='text-[#1A284D] text-3xl font-semibold text-center mb-10'>Primathon in News</h2>
  <div class='flex gap-8 items-center md:items-start justify-between flex-col md:flex-row max-w-[1600px] mx-auto'>
    <div class='flex-1 max-w-[400px]'>
      <Common::AppImage @src='/assets/contact/primathon-in-news-1.png'
        alt='Primathon in news'
        title='Primathon in news'
        loading='lazy'
      />
      <Common::AppImage @src='/assets/images/the-times-of-india-icon.png' alt='button icon' />
      <p class='text-[#1A284D] text-lg font-medium'>Primathon and Veda partner to launch cutting-edge mental health
        wellness app </p>
      <a
        class='text-[#555555] text-xs underline'
        href='https://timesofindia.indiatimes.com/top-headlines/primathon-and-veda-partner-to-launch-cutting-edge-mental-health-wellness-app/articleshow/102801073.cms'
        target='_blank'
        rel='noopener noreferrer'
      >Read More...</a>
    </div>
    <div class='flex-1 max-w-[400px]'>
      <Common::AppImage @src='/assets/contact/primathon-in-news-2.png'
        alt='Primathon in news'
        title='Primathon in news'
        loading='lazy'
      />
      <Common::AppImage @src='/assets/images/economics-times-icon.png' alt='button icon' />
      <p class='text-[#1A284D] text-lg font-medium'>Suniel Shetty-backed Veda Rehabilitation and Primathon collaborate
        to launch app for mental health </p>
      <a
        class='text-[#555555] text-xs underline'
        href='https://economictimes.indiatimes.com/small-biz/sme-sector/suniel-shetty-backed-veda-rehabilitation-and-primathon-collaborate-to-launch-app-for-mental-health/articleshow/102822847.cms'
        target='_blank'
        rel='noopener noreferrer'
      >Read More...</a>
    </div>
    <div class='flex-1 max-w-[400px]'>
      <Common::AppImage @src='/assets/contact/primathon-in-news-1.png'
        alt='Primathon in news'
        title='Primathon in news'
        loading='lazy'
      />
      <Common::AppImage @src='/assets/images/financial-express-icon.png' alt='button icon' />
      <p class='text-[#1A284D] text-lg font-medium'>Suniel Shetty backed mental health platform Veda Rehabilitation gets
        a new app by Primathon</p>
      <a
        class='text-[#555555] text-xs underline'
        href='https://www.financialexpress.com/entertainment/suniel-shettys-mental-health-app-gets-a-new-app-called-primathon/3212947/'
        target='_blank'
        rel='noopener noreferrer'
      >Read More...</a>
    </div>
  </div>
</div>