<div class='px-6 sm:px-12 md:px-20 py-10 max-w-[1000px] mx-auto'>
  <h2 class='text-center text-[#1A284D] text-2xl font-semibold mb-12'>Primathon around the Globe</h2>
  <div class='flex items-center sm:items-start justify-between flex-col sm:flex-row gap-6'>
    <div class='flex flex-col'>
      <Common::AppImage @src='/assets/contact/canada-building.png' alt='building' title='building' width='70' height='70' />
      <p class='text-[#546285] text-xs font-semibold mt-4'>CANADA OFFICE:</p>
      <p class='text-[#1A284D] mb-0'>8 Hillcrest Avenue</p>
      <p class='text-[#1A284D] mb-0'>Toronto ON M2N 6Y6,</p>
      <p class='text-[#1A284D] mb-0'>Canada</p>
    </div>
    <div class='flex flex-col'>
      <Common::AppImage @src='/assets/contact/us-building.png' alt='building' title='building' width='70' height='70' />
      <p class='text-[#546285] text-xs font-semibold mt-4'>US OFFICE:</p>
      <p class='text-[#1A284D] mb-0'>31 River CT, Jersey City</p>
      <p class='text-[#1A284D] mb-0'>New Jersey.</p>
    </div>
    <div class='flex flex-col'>
      <Common::AppImage @src='/assets/contact/delhi-building.png' alt='building' title='building' width='70' height='70' />
      <p class='text-[#546285] text-xs font-semibold mt-4'>INDIA OFFICE:</p>
      <p class='text-[#1A284D] mb-0'>108, Sector 44, Gurgram,</p>
      <p class='text-[#1A284D] mb-0'>Haryana, India</p>
    </div>

  </div>
</div>