<div
  class='px-6 sm:px-12 md:px-20 py-12 max-w-[1600px] text-[#1A284D] flex justify-between gap-x-8 mx-auto overflow-x-auto'
>
  <div class='min-w-[120px]'>
    <p class='text-5xl font-semibold'>40+</p>
    <p class='font-medium text-lg mb-0'>Presence in countries</p>
  </div>
  <div>
    <p class='text-5xl font-semibold'>100+</p>
    <p class='font-medium text-lg mb-0'>Software Developers</p>
  </div>
  <div>
    <p class='text-5xl font-semibold'>150+</p>
    <p class='font-medium text-lg mb-0'>Projects Delivered</p>
  </div>
  <div>
    <p class='text-5xl font-semibold'>100+</p>
    <p class='font-medium text-lg mb-0'>Happy Clients</p>
  </div>
</div>