<div class='py-20 md:py-32' style="background-image: url('/assets/images/bottom-section-big-image.png')">
  <div class='max-w-4xl mx-auto px-4 sm:px-6 lg:px-8'>
    <p class='text-3xl md:4xl font-medium text-center text-white mb-4'>Empower Your Vision</p>
    <p class='text-base md:text-lg text-center text-white mb-8'>
      Join forces with industry leaders and turn your dream into reality. Let's collaborate to bring your vision to
      life, leveraging our expertise with the best innovative ideas and brands across diverse industries.
    </p>
    <div class='buttons mt-4 sm:mt-6 mb-6 sm:mb-10 flex justify-center'>
      <LinkTo @route='contact' class='bg-[#1AA0DD] text-white px-12 py-4 rounded'>
        contactUs
      </LinkTo>
    </div>
  </div>
</div>