<div class='app-container'>
  <Header />
  <CaseStudyBlog::ColoredArrowList @data={{@data.arrowSection}}/>
  <CaseStudyBlog::OurStrategy @data={{@data.teamEfforts}} />
  <CaseStudyBlog::BulletListBlue @data={{@data.collaborativeTriumph}} />
  <CaseStudyBlog::EmpowerVision />
</div>