<div class='app-container'>
  <CaseStudyBlog::HeroSection />
  <CaseStudyBlog::AboutBloom @data={{@data.bulletPoints}} />
  <CaseStudyBlog::ProjectGoal @data={{@data.projectGoal}} />
  <CaseStudyBlog::CustomSolution @data={{@data.customSolution}} />
</div>