<div class="technology-page-options" ...attributes>
 
  <ul>
    {{! template-lint-disable no-invalid-interactive }}
    <li>
      <LinkTo
        class="service-page-link"
        @route="technologies.node-js"
      >
        Node Js
      </LinkTo>
    </li>
    {{! template-lint-disable no-invalid-interactive }}
    {{!-- <li>
      <LinkTo
        class="service-page-link"
        @route="technologies.react-js"
      >
        React Js
      </LinkTo>
    </li> --}}
    {{! template-lint-disable no-invalid-interactive }}
    <li>
      <LinkTo
        class="service-page-link"
        @route="technologies.react-native"
      >
        React native
      </LinkTo>
    </li>
  </ul>
</div>