<section class='container-fluid pre-footer-wrap dark-blue-bg'>
  <div class='row'>
    <div class='container'>
      <div class='global-comm-wrap'>
        <h2>
          Want to be a part of our team?
        </h2>
        <p>
          Look at open positions and apply!
        </p>
      </div>
      <div class='global-comm-wrap buttons'>
        <LinkTo @route='open-position' class='btn btn-normal btn-hire'>
          FIND OPEN POSITIONS
        </LinkTo>
      </div>
    </div>
  </div>
</section>