{{page-title "Primathon"}}
<div class="app-container">
  <Header />
  <Homepage::HeroSection />
  <Homepage::PartnersSection />
  <Homepage::ClientsSection />
  <div class="body">
    {{outlet}}
  </div>
</div>

{{outlet}}