{{page-title 'Primathon'}}

<div class='app-container'>
  <Header />
  <Homepage::HeroSection />
  <div class='body'>
    {{outlet}}
  </div>
  <Homepage::HireUs />
  <Homepage::Footer />
</div>

{{outlet}}