<Header />
<section class='bg-[#1A284D] flex flex-col items-center justify-center pt-44 pb-16'>

  <img src='/assets/images/thank-you-letter-box.png' alt='letter-box' />

  <h2 class='text-3xl sm:text-5xl text-center mt-6 mb-4 text-white font-normal'>Thank you</h2>
  <p class='text-[#E3E7EE] max-w-[800px] text-center text-base sm:text-2xl'>
    Your submission has beed received. We will be in touch and contact you soon!
  </p>
  <div class='buttons mt-14 mb-28'>
    <LinkTo @route='contact' class='bg-[#1AA0DD] text-white px-20 py-4 rounded'>
      BACK TO SITE
    </LinkTo>
  </div>
  <div class='flex flex-col justify-start md:justify-center items-center gap-x-4 mt-12'>
    <span class='text-white mb-5'>Follow Us</span>
    <ul class='flex justify-center gap-x-4'>
      <li>
        <a
          href='https://twitter.com/primathontech'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='twitter'
          class='block w-10 h-10'
        >
          <i class='new-icon-twitter block w-10 h-10' aria-hidden='true'></i>
        </a>
      </li>
      <li>
        <a
          href='https://www.facebook.com/Primathon/'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='facebook'
          class='block w-10 h-10'
        >
          <i class='new-icon-facebook block w-10 h-10' aria-hidden='true'></i>
        </a>
      </li>
      <li>
        <a
          href='https://www.instagram.com/primathon_tech/'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='instagram'
          class='block w-10 h-10'
        >
          <i class='new-icon-instagram block w-10 h-10' aria-hidden='true'></i>
        </a>
      </li>
      <li>
        <a
          href='https://www.linkedin.com/company/primathon'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='linkedin'
          class='block w-10 h-10'
        >
          <i class='new-icon-linkedin block w-10 h-10' aria-hidden='true'></i>
        </a>
      </li>
      <li>
        <a
          href='http://www.youtube.com/@primathontech'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='youtube'
          class='block w-10 h-10'
        >
          <i class='new-icon-youtube block w-10 h-10' aria-hidden='true'></i>
        </a>
      </li>
    </ul>
  </div>
</section>